.navbar
a.dropdown-item {
    padding-left:5px;
}

.navbar
a.spacer
{
  width: 80px;
}

.navbar
a.dropdown-item
img {
    margin-right:5px;
}

/* .nav-link a {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below!
  position: absolute;
  z-index: 1;
}

.nav-link:hover a {
  visibility: visible;
} */