<div *ngIf="data.menus; else simpleTab" class="dropdown">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown">
      {{data.name}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <div *ngFor="let menu of data.menus;">
        <div *ngIf="menu.action=='externalLink' && menu.enabled=='true'; else internalLink">
          <li class="nav-item activate .ml-auto">
            <a matTooltip="{{menu.tooltip}}" class="dropdown-item" href="{{menu.url}}" target="_blank"><img src="assets/app-default/img/baseline-open_in_new-24px.svg"/>
              {{menu.name}}
            </a>
            <div class="dropdown-divider"></div>
          </li>
        </div>
        <!-- <ng-template #notEnabled>
          <div *ngIf="menu.action=='externalLink' && menu.enabled=='true'; else internalLink">
            <li class="nav-item activate .ml-auto">
              <a class="dropdown-item" href="{{menu.url}}" target="_blank"><img src="assets/app-default/img/baseline-open_in_new-24px.svg"/>
                {{menu.name}}
                <div class="tooltiptext">{{menu.tooltip}}</div>
              </a>
              <div class="dropdown-divider"></div>
            </li>
          </div>
        </ng-template> -->
        <ng-template #internalLink>
          <div *ngIf="menu.action=='displayMap' && menu.enabled=='true'; else internalPage">
            <li class="nav-item activate .ml-auto">
              <div class="dropdown-divider"></div>
              <a matTooltip="{{menu.tooltip}}" class="dropdown-item" routerLink="/map/{{menu.id}}"><img src="assets/app-default/img/baseline-map-24px.svg"/>
                {{menu.name}}
              </a>
              <div class="dropdown-divider"></div>
            </li>
          </div>
          <ng-template #internalPage>
            <div *ngIf="menu.enabled=='true'">
              <li class="nav-item activate .ml-auto">
                <a matTooltip="{{menu.tooltip}}" class="dropdown-item" routerLink="/content-page/{{menu.id}}">
                  {{menu.name}}
                </a>
                <div class="dropdown-divider"></div>
              </li>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </li>
</div>

<ng-template #simpleTab>
  <div *ngIf="data.action == 'contentPage'; else simpleMapTab">
    <li class="nav-item activate .ml-auto">
      <a matTooltip="{{data.tooltip}}" class="nav-link" routerLink="/content-page/{{data.id}}">
        {{data.name}}
      </a>
    </li>
  </div>
  <ng-template #simpleMapTab>
    <li class="nav-item activate .ml-auto">
      <a matTooltip="{{data.tooltip}}" class="nav-link" routerLink="/map/{{data.id}}">
        {{data.name}}
      </a>
    </li>
  </ng-template>
</ng-template>