.navbar
a.dropdown-item {
    padding-left:5px;
}

.navbar
a.spacer
{
  width: 80px;
}

.navbar
a.dropdown-item
img {
    margin-right:5px;
}

/* Set the options for the divider margin, padding, etc. 
  in-between each dropdown menu */
.dropdown-divider {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
}

.nav-item-not-enabled {
  background-color: #b4b3b3;
}

a.dropdown-item-not-enabled {
  background-color: #b4b3b3;
}
