.navbar
a.dropdown-item {
    padding-left:5px;
}

.navbar
a.spacer
{
  width: 80px;
}

.navbar
a.dropdown-item
img {
    margin-right:5px;
}

.dropdown-item .tooltiptext {
  background-color: rgb(78, 78, 78);
  border-radius: 6px;
  color: #fff;
  padding: 5px 5px;
  visibility: hidden;
  text-align: center;
  font-size: x-small;
  /* Position the tooltip text! */
  z-index: 1;
  
}

.dropdown-item:hover .tooltiptext {
  visibility: visible;
}