/* CLASSES */

/* The div surrounding the converted Showdown HTML. Might not even be needed */
.markdown-div {
  height: 100%;
}

/* Class that controls the height and margin, and overflow scrolling */
.showdown-container {
  /* vh is the percentage of the viewport (or the browser window size), so the height of the Showdown HTML should take
  up 90% of the height */
  height: 85vh;
  margin: 25px 20vw 0px 20vw;
  /* If scrolling is not needed, (e.g. the size of the Showdown content is less than 85% of the content page) a scroll bar will
  not be shown. The scroll bar will be shown if it is */
  overflow: auto;
}
