/* CLASSES */

a {
  color: #9db66b;
}

/* The inner container that displays the Content Page contents based on browser
width. */
.display-container {
  height: 100%;
  margin: 0px 10px;
}

/* The overarching container for a Content Page. */
.main-container {
  height: calc(100vh - 81px);
  overflow: auto;
}

/* TODO: Remove this. */
.header-404 {
  margin-top: 2.5%;
  font-size:5rem !important;
}

/* TODO: Remove this. */
.main-paragraph-404 {
  font-size: large;
  line-height: 1.5;
  margin: 25px 20vw 0px 20vw;
}