<div *ngIf="isEmbedded$ | async; then embed else fullApp"></div>

<ng-template #fullApp>
  <div class="infoMapper-content">

    <mat-sidenav-container class="infoMapper-sidenav-container">
      <!-- Application side navigation bar. -->
      <mat-sidenav #sidenav mode="navigation">
        <app-side-nav (sidenavClose)="sidenav.close()"></app-side-nav>
      </mat-sidenav>
    
      <mat-sidenav-content>
        <!-- Main application navigation bar. -->
        <app-nav-bar (sidenavToggle)="sidenav.toggle()"></app-nav-bar>
        <main class="infoMapper-app-main-container">
          <router-outlet></router-outlet>
        </main>

      </mat-sidenav-content>

    </mat-sidenav-container>

  </div>
</ng-template>

<ng-template #embed>
  <!-- <div class="infomapper-content">
    <common-map></common-map>
    <router-outlet></router-outlet>
  </div> -->
</ng-template>

<!-- <div class="infomapper-content">
  <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet>
</div> -->