<nav class="navbar navbar-expand navbar-light" style="background-color: #6A8E7F;">
  <a class="navbar-brand" href="#">Poudre Basin Information</a>
  <!-- Hamburger Icon -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item activate .ml-auto">
        <a class="nav-link" routerLink="/map">Basin Entities</a>
      </li>
      <li class="nav-item activate .ml-auto">
        <a class="nav-link" routerLink="/map">Current Conditions</a>
      </li>
      <li class="nav-item activate .ml-auto">
        <a class="nav-link" routerLink="/map">Seasonal Outlook</a>
      </li>
      <li class="nav-item activate .ml-auto">
        <a class="nav-link" routerLink="/map">Historical Data</a>
      </li>
      <li class="nav-item activate .ml-auto">
        <a class="nav-link" routerLink="/map">Future Planning</a>
      </li>
    </ul>
  </div>
</nav>