<nav class="navbar navbar-expand-xl navbar-light bg-light py-0">
  <a class="navbar-brand" routerLink="/home">{{title}}</a>

  <!-- Hamburger Icon -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <ng-template nav-host></ng-template>
    </ul>
    <!-- <ul class="navbar-nav m1-auto">
      <li class="nav-item activate .ml-auto right-item">
        <a class="nav-link" href="http://openwaterfoundation.org" title="OWF home page" target="_blank"><img src="assets/img/OWF-Logo-Favicon-32x32.png"/></a>
      </li>
    </ul> -->
  </div>

</nav>