/* @import './css/style.css'; 
adds significant styling but text isn't properly styled when imported here. only when imported in global style.css */

/* @import "../../../../node_modules/select2/dist/css/select2.min.css"; 
when imported here it only styles the provider dropdown a little bit but not all the way */
/* <-----------------------------------------------------------------------------------------> */
@import './css/gapminder_bootstrap.css';
@import '../../../../../node_modules/clusterize.js/clusterize.css'; /* affects the data table within 'Data' tab */


#selectAll{
    font-size: 12px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 20px;
}

#tracerButton{
    font-size: 12px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#annotationsButton{
    font-size: 12px;color: #333;
    background-color: #fff;
    border-color: #ccc;

}

/* #buttons {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
} */
#play, #pause, #replay, #back, #forward{
    
    border-color: #ccc;
    margin: 3px;
   

}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#table {
  font-size:12px !important;
  padding-left: 45px;
}

/* Dialog Content CSS */
.drag-header-main {
  background-color: #e6e6e6;
  height: 40px;
  margin: 0px;
}

.header-div {
  display: inline-block;
  height: 100%;
  width: 80%;
}

.header-title {
  font-size: medium;
  padding-left: 20%;
  text-align: center;
  height: 100%;
  width: 100%;
}

.gapminder-content {
  height: calc(100% - 91px);
  padding: 0px 10px 0px 10px;
  overflow-x: auto;
  overflow-y: auto;
}

.gapminder-components-group {
  float: right;
  height: 50px;
}

.gapminder-components-group button {
  margin: 5px 25px 0px 0px;
  background-color: #c2c1c1;
}

.upper-close-button {
  background-color: #c2c1c1;
  height: 100%;
  width: 80px;
  float: right;
  outline: none;
}