@import './gapminder-js/css/style.css';
@import './gapminder-js/css/loader.css';
@import './gapminder-js/css/select2.min.css';
@import './gapminder-js/css/clusterize.css';
@import './gapminder-js/css/gapminder_bootstrap.css';

/* CLASSES */



/* Div class that takes up 5.5% of the height of the dialog and is gray to differentiate itself from the dialog content */
.drag-header-main {
  background-color: #e6e6e6;
  height: 40px;
  margin: 0px;
}

.header-div {
  display: inline-block;
  height: 100%;
  width: 80%;
}

.header-title {
  font-size: medium;
  padding-left: 20%;
  text-align: center;
  height: 100%;
  width: 100%;
}

.gapminder-content {
  height: calc(100% - 91px);
  padding: 0px 10px 0px 10px;
  overflow-x: auto;
  overflow-y: auto;
}

.gapminder-components-group {
  float: right;
  height: 50px;
}

.gapminder-components-group button {
  margin: 5px 25px 0px 0px;
  background-color: #c2c1c1;
}

/*  */
.upper-close-button {
  background-color: #c2c1c1;
  height: 100%;
  width: 80px;
  float: right;
  outline: none;
}