/* TAGS */

/* Table width for the Mat Table */
table {
  width: 100%;
  table-layout: fixed;
  /* border-spacing: 0 8px !important; */
}

th.mat-header-cell {
  background-color: #ebebeb;
  border-right: 1px;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-right-style: dotted;
  text-align: center;
}

/* CLASSES */

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #9DB66B !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #9DB66B !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #9DB66B !important;;
}

.filter-not-found-cell {
  /* This is needed for the virtual scrolling to handle correctly. Tells the height of each cell in the table
  to be 48 pixels, which should be the pixels, but for some reason something is overriding it */
  height: 48px;
  /*      Top Right Bot Left */
  padding: 0 8px 0 8px;
  text-align: center;
}

.mat-cell {
  border-right: 1px;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-right-style: dotted;
  /* This is needed for the virtual scrolling to handle correctly. Tells the height of each cell in the table
  to be 48 pixels, which should be the pixels, but for some reason something is overriding it */
  height: 48px;
  /*      Top Right Bot Left */
  padding: 0 8px 0 8px;
  text-align: right;
}

.mat-cell.left {
  text-align: left;
}

.mat-cell.right {
  text-align: right !important;
}

/* If the Material Table cell is a URL, treat it differently than a regular string or number. The bottom three options
will hide the rest of a long string in a fixed-layout table, and won't wrap, creating the desired cell style */
.mat-cell.url {
  text-align: left;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-column {
  padding-left: 5px;
  padding-right: 5px;
}

.mat-form-field {
  font-size: 14px;
  height: 8%;
  width: 100%;
}

.mat-row {
  height: auto;
}

.mat-table-header {
  width: 175px;
}

/* The div surrounding the Mat Table so scrolling will occur if the table is large enough, and it doesn't
take up too much space vertically in the Dialog. The draggable <h1> is 5% of the Dialog height, so this
<div> can be technically 95%. Making it 95% is just slightly too big and creates some problems, maybe
due to the way the table is drawn, but shrinking it slightly to 94.5% is doable */
.table-box {
  height: 94.5%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow: auto;
}

.table-info-components {
  height: 11%;
  padding-top: 30px;
  position: relative;
}

.table-rows-selected {
  display: inline-block;
  margin: 0px 20px 0px 0px;
}

.TS-table-button {
  margin: 0px 20px 0px 20px;
  background-color: #c2c1c1;
}

.wrapper {
  height: 80%;
}