.container{
    margin-top: 100px;
}

h1 {
    text-align: center;
    vertical-align: middle;
    margin:10px;
}

p {
    font-size: 20px;
}

.centered {
    line-height:93vh;
}

#container {
  width: 100%;
}
