/* GENERAL */
body, html {
  background: black;
}

header h1 {
	text-align: center;
}

hr.divider {
	margin: 8px;
}

/* ID's */
#controlDescription {
  text-align: left;
  margin-bottom: 10px;
}

#errorPage {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

#exit {
	cursor: pointer;
}

#externalLink {
	text-decoration: underline;
	color:#0078A8;
	cursor: pointer;
}

#mapid {
  position: absolute;
  width:100%!important;
  height:100%!important;
}

#map-container {
  position: relative;
  float: right;
  width:100%;
  height: calc(100vh - 57px);
}

#open-window {
	cursor: pointer;
}

#toggleAll {
  display: flex;
  margin-bottom: 5px;
}

#toggleDescriptions {
  width: 100%;
}

iframe {
	height: 95%;
	width: 100%;
	display: block;
	overflow: auto;
}

/* Classes */
.btn-link {
	color:white;
}

.btn-link:hover{
	color:white;
	text-decoration:none;
}

.btn-link:focus{
	color:white;
	text-decoration:none;
}

/* Expands the <div> directly carrying each layer so that they take up a bit more space */
.card-body {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-header {
	background: #9DB66B;
	padding-top: 0%;
	padding-bottom: 0%;
}

.card-header-map-controls {
	background: #9DB66B;
	font-size: 5px;
}

/* The style for the <div> that contains both the geoLayerViewGroup name and gear dropdown buttons */
.geoLayerViewGroupMain {
  background: #9DB66B;
  width: 100%;
}

/* The default color is black for text in this class. Change it to white */
.geoLayerViewGroupName {
  color: white;
  text-indent: 15px;
}
/* When the geoLayerViewGroup name button is hovered over, override the magical hover to black back to white so it doesn't change */
.geoLayerViewGroupName:hover {
  color: white;
}

/* When the actual information button itself is hovered over, change the icon (and only the icon's) color to the same color
green that has been represented throughout the rest of the Info Mapper */
.geoLayerView-info-circle:hover .fa-info-circle {
  color: #9DB66B;
}

.geoLayerViewGroup-info-circle {
  width: 100%;
}

/* Does the exact same thing as above except changes the gear color to white ^^^ */
.geoLayerViewGroup-info-circle:hover .fa-info-circle {
  color: rgb(243, 243, 243);
}

/*  */
.geoLayerViewGroupGear {
  display: inline-block;
}

/* Does the exact same thing as above except changes the gear color to white ^^^ */
.geoLayerViewGroupGear:hover .fa-cog {
  color: rgb(243, 243, 243);
}

.geoMap-title {
  float: left;
}

.geoMap-doc-button {
  float: right;
}

/*  */
.geoMap-info-circle {
  width: 100%;
}

/*  */
.geoMap-info-circle:hover .fa-info-circle {
  color: rgb(243, 243, 243);
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info-info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	height: 100px;
	width: 150px;
}

.info-info h4 {
	margin: 0 0 5px;
	color: black;
}

.info h4 {
	margin: 0 0 5px;
	color: black;
}

.info p {
	margin-bottom: 0px;
}

.leaflet-sidebar-close {
  float: right;
}

/* Style for sidebar */
.leaflet-sidebar-tabs > ul 
> li.active {
	background-color: #9DB66B;
}

.leaflet-sidebar-header {
	background: #9DB66B;
}

.leaflet-sidebar-pane.active {
  padding-left: 10px;
  padding-right: 20px;
}

.leaflet-top,
.leaflet-bottom,
.leaflet-left,
.leaflet-right,
.leaflet-control {
	z-index:499 !important;
}

.leaflet-left .leaflet-control {
	margin-left:7px!important;
}

.map-title {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #DCDCDC;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  height:100px;
}

.popup {
	width:550px;
	height:400px;
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	resize: both;
}

.popup-info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	height: 100px;
	width: 150px;
}

.resizable {
  background: white;
  /* width: 100px;
  height: 100px; */
  position:unset!important;
  /*position: absolute;
  top: 100px;
  left: 100px;*/
}

.resizers{
	position:relative;
	top:-14px;
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.resizable .resizers .resizer{
  width: 15px;
  height: 15px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 1px solid gray;
  position: relative;
}

.resizable .resizers .resizer.top-left {
  left: -14px;
  /* top: -14px; */
  cursor: nwse-resize; /*resizer cursor*/
}

.toggleAllButton {
  display:inline-block;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;

  border-radius: 2px;
  border-style: solid;
  border-color: #9DB66B;

  text-decoration:none;
  font-size: 14px;
  font-weight:300;

  background-color: #9DB66B;
  color: white;

  text-align:center;
}

.toggleAllButton:hover {
  cursor: pointer;
  background-color: white;
  color: #9DB66B;
  border-style: solid;
  border-color: #9DB66B;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

/* Styling for the border, size, and padding/.margins
around the layer component list items*/
td {
  width: 100%;
  text-align: left;
  padding: 5px;
  border-style: none;
}

td.name .description {
  margin-top: 8px;
  font-weight: normal;
}

table.layerOptions {
  width: 100%;
}

table.layerOptions th {
  padding: 5px;
}

table.layerOptions {
  vertical-align: top;
  text-align: right;
  padding: 5px;
  border-style: none;
}

td.toggle {
  position: relative;
}

.layer-icon {
  margin-left:5px;
}

#layer-title {
  font-size:12px;
  font-weight: bold;
  text-decoration: underline;
}

/* styling for the swtich background */
.switch {
  border-radius: 6px;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* styling for the slider inside of the switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "O";
  font-size: 12px;
  text-align: center;
  font-family: arial;

  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* slider ui displays for changes*/
input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
content: "|";
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}