<div id="map-container">

  <!-- optionally define the sidebar content via HTML markup -->
  <div id="sidebar" class="leaflet-sidebar collapsed">

    <!-- nav tabs -->
    <div class="leaflet-sidebar-tabs">
      <!-- top aligned tabs -->
      <ul role="tablist">
        <!-- Main menu button (Hamburger Icon) -->
        <li><a title="Main tools" href="#home" role="tab"><i class="fa fa-bars active"></i></a></li>
        <!-- Autopan button (4 directional arrows) -->
        <!-- <li><a title="Autopan tools" href="#autopan" role="tab"><i class="fa fa-arrows"></i></a></li> -->
        <!---Information Button (i)-->
        <!-- <li><a title="Help / About" href="#information" role="tab"><i class="fa fa-info-circle"></i></a></li> -->
      </ul>

      <!-- bottom aligned tabs -->
      <ul role="tablist">
        <li><a title="Help / About" href="#information" role="tab"><i class="fa fa-info-circle"></i></a></li>
        <!-- <li><a title="External link to project on GitHub" href="https://github.com/nickpeihl/leaflet-sidebar-v2"><i class="fa fa-github"></i></a></li> -->
      </ul>
    </div>

    <!-- panel content -->
    <div class="leaflet-sidebar-content">
      <div class="leaflet-sidebar-pane" id="home">
        <h1 class="leaflet-sidebar-header">
          <div *ngIf="mapService.getName()">{{mapService.getName()}}</div>
          
          <span title="Close sidebar" class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>

        <br>

        <div class="accordion" id="sidebar-accordion">

          <div *ngIf="mapService.getMapConfig()">
            <div *ngFor="let geoLayerViewGroup of mapService.getMapConfig().geoMaps[0].geoLayerViewGroups">

              <div *ngIf="geoLayerViewGroup.properties.isBackground == undefined || geoLayerViewGroup.properties.isBackground == 'false'; else background">
                
                <div class="card">
                  <div class="card-header" id="layerOptions">
                      <button title="Click to expand/collapse layer controls"
                      class="btn btn-link" type="button" data-toggle="collapse" 
                      [attr.data-target]='"#collapse-" + geoLayerViewGroup.geoLayerViewGroupId'
                      aria-expanded="true"
                      [attr.aria-controls]='"collapse-" + geoLayerViewGroup.geoLayerViewGroupId'
                      style="text-align: left; width: 100%;">
                        {{geoLayerViewGroup.name}}
                      </button>
                  </div>
                  <div [attr.id]='"collapse-" + geoLayerViewGroup.geoLayerViewGroupId' class="collapse show" aria-labelledby="headingOne">

                    <div class="card-body">
                      <table class="layerOptions">

                        <div class="card">
                          <div class="card-header-map-controls" id="layerOptions">
                            <button title="Click to expand/collapse map controls"
                                    class="btn btn-link" type="button" data-toggle="collapse" 
                                    [attr.data-target]="'#collapse-map-controls' + geoLayerViewGroup.geoLayerViewGroupId"
                                    aria-expanded="true" style="font-size: 12px; text-align: left; width: 100%">
                            Map Controls
                            </button>
                          </div>

                          <div [attr.id]="'collapse-map-controls' + geoLayerViewGroup.geoLayerViewGroupId"
                                class="collapse">
                            <div class="card-body">
                              <table class="layerOptions">
                                <p style="margin-bottom:5px; float: left"><b><u>Map Controls:</u></b></p><br><br>
                                <div id="toggleAll">
                                  <div class="controlCol">
                                    <button title="Click to show or hide all layers on the map" 
                                      id="display-button" class="toggleAllButton" (click)="displayAll()">
                                      Hide All Layers
                                    </button>
                                  </div>
                                </div>
              
                                <p style="margin-bottom:5px; float: left"><b><u>Legend Controls:</u></b></p><br><br>
                                <div id="toggleDescription">
                                  <div id="controlDescription">
                                    <input title="Show/hide the descriptions under the layer controls" 
                                      type="checkbox" name="showDescriptions" (click)="toggleDescriptions()"> 
                                      Hide All Descriptions
                                  </div>
                                </div>
                                <div id="toggleDescription">
                                  <div id="controlDescription">
                                    <input title="Show/hide the symbols under the layer controls" 
                                      type="checkbox" name="showSymbols" (click)="toggleSymbols()"> 
                                      Hide All Symbols
                                  </div>
                                </div>
                              </table>
                            </div>
                          </div>

                        </div>
                        <hr class="divider">
                        
                        <!-- <ng-container map-layer-hook
                              [layerViews]="geoLayerViewGroup.geoLayerViews.length"
                              [realLayerViews]="this.realLayerViews"></ng-container> -->
                        
                        <!-- <div *ngIf="true" #componentGroup></div> -->

                        <!-- Here go through each layerView and just show them. No need for trying to dynamically create
                        each one as a component. Just show each one of them here -->
                        <div *ngFor="let layerView of geoLayerViewGroup.geoLayerViews;">
                          
                          <tr>
                            <td class="name">
                          
                              <div id="layer-title">
                                {{layerView.name}}
                              </div>

                              <div class="description" id="description-{{layerView.geoLayerId}}">
                                {{layerView.description}}
                              </div>
                          
                              <br>
                          
                              <div class="symbols" id="symbols-{{layerView.geoLayerId}}">

                                <div>

                                  <div>
                                    <!-- SINGLE SYMBOL -->
                                    <div *ngIf="layerView.geoLayerSymbol.classificationType.toUpperCase() == 'SINGLESYMBOL'">
                                      <!-- LINE -->
                                      <div *ngIf="this.getGeometryType(layerView.geoLayerId).toUpperCase().includes('LINESTRING')">
                                        <svg class="layer-icon" height="10" width="25">
                                          <line x1="5" y1="5" x2="25" y2="5" [ngStyle]="styleObject(layerView.geoLayerSymbol, 'ss')" style="stroke-width:2"/>
                                        </svg>
                                      </div>
                                      <!-- USER-PROVIDED DEFAULT MARKER -->
                                      <div  *ngIf="layerView.geoLayerSymbol.properties.symbolImage">
                                        <img [attr.src]="this.appService.getAppPath() + this.imageSrc(layerView.geoLayerSymbol)">
                                      </div>
                                      <!-- BUILT-IN DEFAULT MARKER -->
                                      <div *ngIf="layerView.geoLayerSymbol.properties.builtinSymbolImage">
                                        <img  class="layer-icon"
                                              [attr.src]="'assets/app-default/' + this.imageSrc(layerView.geoLayerSymbol)">
                                      </div>
                                      <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape; else defaultLegend">
                                        <!-- SQUARE -->
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'SQUARE'">
                                          <svg width="18" height="18">
                                            <rect width="17" height="17" [ngStyle]="styleObject(layerView.geoLayerSymbol, 'ss')"/>
                                          </svg>
                                        </div>
                                        <!-- TRIANGLE & TRIANGLE-UP -->
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'TRIANGLE' ||
                                        layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'TRIANGLE-UP'">
                                          <svg height="18" width="18">
                                            <polygon points="9,1 1,17 17,17" [ngStyle]="styleObject(layerView.geoLayerSymbol, 'ss')"/>
                                          </svg>
                                        </div>
                                        <!-- TRIANGLE-DOWN -->
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'TRIANGLE-DOWN'">
                                          <svg height="18" width="18">
                                            <polygon points="0,0 18,0, 9,18" [ngStyle]="styleObject(layerView.geoLayerSymbol, 'ss')"/>
                                          </svg>
                                        </div>
                                        <!-- DIAMOND -->
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'DIAMOND'">
                                          <svg height="18" width="18">
                                            <polygon points="0,9 9,18 18,9 9,0" [ngStyle]="styleObject(layerView.geoLayerSymbol, 'ss')"/>
                                          </svg>
                                        </div>
                                        <!-- CIRCLE -->
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'CIRCLE'">
                                          <svg height="20" width="20">
                                            <circle cx="10" cy="10" r="8" [ngStyle]="styleObject(layerView.geoLayerSymbol, 'ss')"/>
                                          </svg>
                                        </div>
                                        <!-- X -->
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'X'">
                                          <svg height="18" width="18">
                                            <line x1="0" y1="0" x2="18" y2="18"
                                                  [ngStyle]="styleObject(layerView.geoLayerSymbol, 'ss')"
                                                  style="stroke-width: 2;"/>
                                            <line x1="18" y1="0" x2="0" y2="18"
                                                  [ngStyle]="styleObject(layerView.geoLayerSymbol, 'ss')"
                                                  style="stroke-width: 2;"/>
                                          </svg>
                                        </div>
                                      </div>
                                      <ng-template #defaultLegend>
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolImage === undefined &&
                                        layerView.geoLayerSymbol.properties.builtinSymbolImage === undefined &&
                                        !this.getGeometryType(layerView.geoLayerId).toUpperCase().includes('LINESTRING')">
                                          <svg width="18" height="18">
                                            <rect width="17" height="17" [ngStyle]="styleObject(layerView.geoLayerSymbol, 'ss')"/>
                                          </svg>
                                        </div>
                                      </ng-template>
                                    </div>

                                    <!-- CATEGORIZED -->
                                    <div *ngIf="layerView.geoLayerSymbol.classificationType.toUpperCase() ==  'CATEGORIZED'">
                                      <div *ngIf="categorizedLayerColor[layerView.geoLayerId]">
                                        <div *ngFor="let location of categorizedLayerColor[layerView.geoLayerId]; let i = index">
                                          <div *ngIf="(i % 2) === 0">
                                            <!-- SQUARE will be default for polygons -->
                                            <svg width="18" height="18">
                                              <rect width="18" height="18"
                                                    [ngStyle]="{'fill': categorizedLayerColor[layerView.geoLayerId][i + 1]}" />
                                            </svg>
                                            {{location}}<br><br>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <!-- GRADUATED -->
                                    <div *ngIf="layerView.geoLayerSymbol.classificationType.toUpperCase() == 'GRADUATED'">
                                      <div *ngFor="let graduatedKeyName of graduatedKeyNames; let num = index">
                                        <b>Ordered by: {{graduatedClassificationField[num]}}</b>
                                        <!-- SQUARE -->
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape && layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'SQUARE'">
                                          <svg class='graduated' width="18" height="18">
                                            <rect width="18" height="18" [ngStyle]="{'fill':graduatedKeyColors[(num*3)]}" />
                                          </svg>
                                          <svg class='graduated' width="18" height="18">
                                            <rect width="18" height="18" [ngStyle]="{'fill':graduatedKeyColors[(num*3) + 1]}" />
                                          </svg>
                                          <svg class='graduated' width="18" height="18">
                                            <rect width="18" height="18" [ngStyle]="{'fill':graduatedKeyColors[(num*3) + 2]}" />
                                          </svg>
                                          {{graduatedKeyNames[num]}}<br><br>
                                        </div>
                                        <!-- TRIANGLE -->
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape && layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'TRIANGLE'">
                                          <svg class='graduated' height="18" width="18">
                                            <polygon points="9,1 1,17 17,17" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3)]}" />
                                          </svg>
                                          <svg class='graduated' height="18" width="18">
                                            <polygon points="9,1 1,17 17,17" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3) + 1]}" />
                                          </svg>
                                          <svg class='graduated' height="18" width="18">
                                            <polygon points="9,1 1,17 17,17" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3) + 2]}" />
                                          </svg>
                                          {{graduatedKeyNames[num]}}<br><br>
                                        </div>
                                        <!-- CIRCLE -->
                                        <div *ngIf="layerView.geoLayerSymbol.properties.symbolShape && layerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'CIRCLE'">
                                          <svg class='graduated' height="20" width="20">
                                            <circle cx="10" cy="10" r="8" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3)]}" />
                                          </svg>
                                          <svg class='graduated' height="20" width="20">
                                            <circle cx="10" cy="10" r="8" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3) + 1]}" />
                                          </svg>
                                          <svg class='graduated' height="20" width="20">
                                            <circle cx="10" cy="10" r="8" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3) + 2]}" />
                                          </svg>
                                          {{graduatedKeyNames[num]}}<br><br>
                                        </div> 
                                      </div>
                                    </div>
                                  </div>

                                </div>


                              </div>
                            </td>
                          
                            <td class="toggle">
                              <label title="Show/hide '{{layerView.name}}' layer on the map" class="switch">
                          
                                <input id="{{layerView.geoLayerId}}-slider" type="checkbox"
                                        (click)="toggleLayer(layerView.geoLayerId)" [attr.checked]="selectedInitial()">
                                <span class="slider round"></span>
                                </label>
                              </td>
                          </tr>
                          
                          <hr class="divider">

                        </div>

                      </table>
                    </div>
                  </div>
                </div>

              </div>

              <ng-template #background>
                
                <div class="card">
                  <div class="card-header" id="background-layers">
                    <h5 class="mb-0">
                      <button title="Click to expand/collapse basemap layer tools"
                              class="btn btn-link" type="button"
                              data-toggle="collapse" data-target="#collapse-two"
                              aria-expanded="true" aria-controls="collapseOne"
                              style="text-align: left; width: 100%;">
                        {{geoLayerViewGroup.name}}
                      </button>
                    </h5>
                  </div>

                  <div id="collapse-two" class="collapse show"
                        aria-labelledby="headingOne"
                        data-parent="#background-layers">
                    <div class="card-body">
                      <ng-template background-layer-hook></ng-template>
                    </div>
                  </div>
                </div>

              </ng-template>
              
            </div>
          </div>

        </div>

      </div>

      <!-- <div class="leaflet-sidebar-pane" id="autopan">
        <h1 class="leaflet-sidebar-header">
          autopan
          <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
        <p>
          <code>Leaflet.control.sidebar( autopan: true )</code>
          makes sure that the map center always stays visible.
        </p>
        <p>
          The autopan behviour is responsive as well.
          Try opening and closing the sidebar from this pane!
        </p>
      </div> -->

      <div class="leaflet-sidebar-pane" id="information">
        <h1 class="leaflet-sidebar-header">
          Help / About
          <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
        <ng-template side-panel-info-host></ng-template>
      </div>
    </div>
  </div>

  <div id="mapid"></div>

</div>
