<div>

  <div>
    <!-- SINGLE SYMBOL -->
    <div *ngIf="this.symbolData.classificationType.toUpperCase() == 'SINGLESYMBOL'">
      <div *ngFor="let symbolName of singleSymbolKeyNames; let num = index">
        <!-- LINE -->
        <div *ngIf="this.geometryType.includes('LineString')">
          <svg class="layer-icon" height="10" width="25">
            <line x1="5" y1="5" x2="25" y2="5" [ngStyle]="{'stroke':symbolData.properties.color}" style="stroke-width:2" />
          </svg>
        </div>
        <!-- USER PROVIDED DEFAULT MARKER -->
        <div *ngIf="this.symbolData.properties.symbolImage">
          <img class="layer-icon" src="assets/app-default/img/marker-icon.png" height="15">
        </div>
        <!-- BUILT-IN DEFAULT MARKER -->
        <div *ngIf="this.symbolData.properties.builtinSymbolImage">
          <img class="layer-icon" src="assets/app-default/img/marker-icon.png" height="15">
        </div>
        <!-- SQUARE -->
        <div *ngIf="this.symbolData.properties.symbolShape && this.symbolData.properties.symbolShape.toUpperCase() == 'SQUARE'">
            <svg width="18" height="18">
              <rect width="18" height="18" [ngStyle]="{'fill':singleSymbolKeyColors[num]}" />
            </svg>
        </div>
        <!-- TRIANGLE -->
        <div *ngIf="this.symbolData.properties.symbolShape && this.symbolData.properties.symbolShape.toUpperCase() == 'TRIANGLE'">
          <svg height="18" width="18">
            <polygon points="9,1 1,17 17,17" [ngStyle]="{'fill':singleSymbolKeyColors[num]}" />
          </svg>
        </div>
         <!-- DIAMOND -->
         <div *ngIf="this.symbolData.properties.symbolShape && this.symbolData.properties.symbolShape.toUpperCase() == 'DIAMOND'">
          <svg height="18" width="18">
            <polygon points="1,9 9,17 17,9 9,1" [ngStyle]="{'fill':singleSymbolKeyColors[num]}" />
          </svg>
        </div>
        <!-- CIRCLE -->
        <div *ngIf="this.symbolData.properties.symbolShape && this.symbolData.properties.symbolShape.toUpperCase() == 'CIRCLE'">
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" [ngStyle]="{'fill':singleSymbolKeyColors[num]}" />
          </svg>
        </div>
      </div>
    </div>

    <!-- CATEGORIZED -->
    <div *ngIf="this.symbolData.classificationType.toUpperCase() ==  'CATEGORIZED'">
      <div *ngFor="let categorizedKeyName of categorizedKeyNames; let num = index">
        <div *ngIf="isObject(categorizedKeyColors[num])">
          <!-- <b>Categorized by {{categorizedClassificationField[num]}}:</b> -->
          <div *ngFor="let categorizedKeyColor of categorizedKeyColors[num]; let num2 = index">
            <div *ngIf="(num2%2) == 0">
              <!-- Square will be default for polygons -->
              <svg width="18" height="18">
                <rect width="18" height="18" [ngStyle]="{'fill':categorizedKeyColors[num][num2 + 1]}" />
              </svg>
              {{categorizedKeyColors[num][num2]}}<br><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- GRADUATED -->
    <div *ngIf="this.symbolData.classificationType.toUpperCase() == 'GRADUATED'">
      <div *ngFor="let graduatedKeyName of graduatedKeyNames; let num = index">
        <b>Ordered by: {{graduatedClassificationField[num]}}</b>
        <!-- SQUARE -->
        <div *ngIf="this.symbolData.properties.symbolShape && this.symbolData.properties.symbolShape.toUpperCase() == 'SQUARE'">
          <svg class='graduated' width="18" height="18">
            <rect width="18" height="18" [ngStyle]="{'fill':graduatedKeyColors[(num*3)]}" />
          </svg>
          <svg class='graduated' width="18" height="18">
            <rect width="18" height="18" [ngStyle]="{'fill':graduatedKeyColors[(num*3) + 1]}" />
          </svg>
          <svg class='graduated' width="18" height="18">
            <rect width="18" height="18" [ngStyle]="{'fill':graduatedKeyColors[(num*3) + 2]}" />
          </svg>
          {{graduatedKeyNames[num]}}<br><br>
        </div>
        <!-- TRIANGLE -->
        <div *ngIf="this.symbolData.properties.symbolShape && this.symbolData.properties.symbolShape.toUpperCase() == 'TRIANGLE'">
          <svg class='graduated' height="18" width="18">
            <polygon points="9,1 1,17 17,17" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3)]}" />
          </svg>
          <svg class='graduated' height="18" width="18">
            <polygon points="9,1 1,17 17,17" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3) + 1]}" />
          </svg>
          <svg class='graduated' height="18" width="18">
            <polygon points="9,1 1,17 17,17" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3) + 2]}" />
          </svg>
          {{graduatedKeyNames[num]}}<br><br>
        </div>
        <!-- CIRCLE -->
        <div *ngIf="this.symbolData.properties.symbolShape && this.symbolData.properties.symbolShape.toUpperCase() == 'CIRCLE'">
          <svg class='graduated' height="20" width="20">
            <circle cx="10" cy="10" r="8" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3)]}" />
          </svg>
          <svg class='graduated' height="20" width="20">
            <circle cx="10" cy="10" r="8" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3) + 1]}" />
          </svg>
          <svg class='graduated' height="20" width="20">
            <circle cx="10" cy="10" r="8" [ngStyle]="{'fill':'#' + graduatedKeyColors[(num*3) + 2]}" />
          </svg>
          {{graduatedKeyNames[num]}}<br><br>
        </div> 
      </div>
    </div>
  </div>

</div>