<div id="map-container">

    <!-- optionally define the sidebar content via HTML markup -->
      <div id="sidebar" class="leaflet-sidebar collapsed">

          <!-- nav tabs -->
          <div class="leaflet-sidebar-tabs">
              <!-- top aligned tabs -->
              <ul role="tablist">
                  <!-- Main menu button (Hamburger Icon) -->
                  <li><a href="#home" role="tab"><i class="fa fa-bars active"></i></a></li>
                  <!-- Autopan button (4 directional arrows) -->
                  <li><a href="#autopan" role="tab"><i class="fa fa-arrows"></i></a></li>
                  <!---Information Button (i)-->
                  <li><a href="#information" role="tab"><i class="fa fa-info-circle"></i></a></li>
              </ul>

              <!-- bottom aligned tabs -->
              <ul role="tablist">
                  <li><a href="https://github.com/nickpeihl/leaflet-sidebar-v2"><i class="fa fa-github"></i></a></li>
              </ul>
          </div>

          <!-- panel content -->
          <div class="leaflet-sidebar-content">
              <div class="leaflet-sidebar-pane" id="home">
                  <h1 class="leaflet-sidebar-header">
                      Layers
                      <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                  </h1>

                  <br>

                  <div id="toggleAll">
                    <div class="controlCol">
                      <button class="toggleAllButton" (click)="displayAll('show')">Show All Layers</button>
                    </div>
                    <div class="controlCol">
                      <button class="toggleAllButton" (click)="displayAll('hide')">Hide All Layers</button>
                    </div>
                  </div>

                  <div id="toggleDescription">
                    <div id="controlDescription">
                      <input type="checkbox" name="showDescriptions" (click)="toggleDescriptions()"> Hide Descriptions
                    </div>
                  </div>

                  <table class="layerOptions">

                    <ng-template layer-host></ng-template>

                  </table>

              </div>

              <div class="leaflet-sidebar-pane" id="autopan">
                  <h1 class="leaflet-sidebar-header">
                      autopan
                      <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                  </h1>
                  <p>
                      <code>Leaflet.control.sidebar( autopan: true )</code>
                      makes sure that the map center always stays visible.
                  </p>
                  <p>
                      The autopan behviour is responsive as well.
                      Try opening and closing the sidebar from this pane!
                  </p>
              </div>

              <div class="leaflet-sidebar-pane" id="information">
                  <h1 class="leaflet-sidebar-header">
                      Information
                      <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                  </h1>
                  <ng-template side-panel-info-host></ng-template>
              </div>
          </div>
      </div>

    <div id="mapid"></div>

  </div>