/* <<<<<<< HEAD */
#mapid {
    position: absolute;
    width:100%!important;
    height:100%!important;
}

#map-container {
    position: relative;
    float: right;
    width:100%;
    height: calc(100vh - 50px);
}

#errorPage {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

#toggleAll {
  display: flex;
  margin-bottom: 5px;
}

#toggleDescriptions {
  width: 100%;
}

#controlDescription {
  text-align: left;
  margin-bottom: 10px;
}

header h1 {
	text-align: center;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info-info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	height: 100px;
	width: 150px;
}

.info-info h4 {
	margin: 0 0 5px;
	color: black;
}

.info h4 {
	margin: 0 0 5px;
	color: black;
}

.info p {
	margin-bottom: 0px;
}

.toggleAllButton {
  display:inline-block;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;

  border-radius: 2px;
  border-style: solid;
  border-color: #9DB66B;

  text-decoration:none;
  font-size: 14px;
  font-weight:300;

  background-color: #9DB66B;
  color: white;

  text-align:center;
}

.toggleAllButton:hover {
  cursor: pointer;
  background-color: white;
  color: #9DB66B;
  border-style: solid;
  border-color: #9DB66B;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.map-title {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #DCDCDC;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  height:100px;
}

/* animation tools */
.slidercontainer { 
	padding: 5px 2px;
	font: 14px/20px Arial, Helvetica, sans-serif; 
	background: white;  
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 5px; 
	width:590px;
	margin-bottom:25px!important;
} 
.slidercontainer h4 { 
	margin: 5px 0; 
	color: black; 
}

/* Style for sidebar */
.leaflet-sidebar-tabs > ul 
> li.active {
	background-color: #9DB66B;
}

.leaflet-sidebar-header {
	background: #9DB66B;
}

.leaflet-top,
.leaflet-bottom,
.leaflet-left,
.leaflet-right,
.leaflet-control {
	z-index:499 !important;
}

/* Styling for actual slider */
/* .timeslider{
	float:left;
	margin-left: 10px;
	display:inline-block;
	width: 45% !important;
}
.slider {
	-webkit-appearance: none;
	height: 10px;   
	background: white;
	border: 1px solid #a5a5a5;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-top:8px;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 25px;
	border-radius: 2px;
	border:1px solid #a5a5a5;
	background: #ddd;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 2px;
	background: #ddd;
	border:1px solid #a5a5a5;
	cursor: pointer;
} */

/* Styling for speed slider */
/* .speedslider{
	float:left;
	margin-left: 10px;
	display:inline-block;
	width: 50px !important; 
}*/

/* This styling makes it possible for the color
to change gradually when editing the choropleth map */
/* .leaflet-container path{ 
	transition: d, fill .75s !important;
} */

/* Styling for buttons next to slider */
/* button {
	float:left;
	display:inline-block;
}
.btn{
	padding-top:0px!important;
	padding-bottom:0px!important;
	border-radius: 0px;
	background: white;
	margin-left:2px;
	margin-right:2px;
}
.btn:hover{
	background:#ccc;
} */
