<!-- The draggable <h1> element so a user can move a graph around anywhere on the screen -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <!-- The draggable <h1> element so a user can move a graph around anywhere on the screen, but only using the h1 -->
  <div mat-dialog-title cdkDragHandle class="drag-header">
    <!-- Keep this empty for now. Might add a title later on for time series graphs -->
    <div class="drag-header-div">
      <p class="drag-header-title">
        {{geoLayer.name}} - Properties
      </p>
    </div>
    <!-- The close button on the upper right part of the dialog -->
    <button mat-button (click)="onClose()" class="upper-dialog-close-button">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>

  <div class="property-content">
    <showdown [value]="showdownHTML" class="markdown-div"></showdown>
  </div>  

  <!-- A button on the lower left for viewing the data table of the current time series graph -->
  <div class="properties-components-group">

    <button mat-raised-button (click)="onClose()">
      Close
    </button>
  </div>

</div>
