<mat-toolbar>
  <div fxHide.gt-md>
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
  </div>

  <button mat-button class="home-button" [routerLink]="['/content-page/home']">
    {{title}}
  </button>

  <div fxFlex fxLayout fxLayoutAlign="start" fxHide.lt-lg>
    <ul fxLayout fxLayoutGap="1px" class="main-menu-buttons">

      <div *ngFor="let mainMenu of appConfig.mainMenu">
        <div *ngIf="mainMenu | checkElement : 'mainMenuIsVisible'">
          <tab [mainMenu]="mainMenu"></tab>
        </div>
      </div>

    </ul>
  </div>
</mat-toolbar>
