<nav class="navbar navbar-expand-xl navbar-light bg-light py-0">
  
  <button mat-button class="home-button"
  [routerLink]="['/content-page/home']">{{title}}</button>

  <!-- Hamburger icon for mobile. NOTE: Does not work. -->
  <button mat-button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          placement="bottom"
          ngbTooltip="Tooltip on bottom">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      <div *ngFor="let mainMenu of appConfig.mainMenu">
        <div *ngIf="mainMenu | checkElement : 'mainMenuIsVisible'">
          <tab [mainMenu]="mainMenu"></tab>
        </div>
      </div>

    </ul>
  </div>

</nav>
