/* TAGS */

/* Sets the top and bottom of the Angular Material toolbar to resemble the toolbar
from other OWF related websites for consistency. */
mat-toolbar {
  border-top: 5px solid #9db66b;
  border-bottom: 5px solid #e9eaee;
}

/* CLASSES */

/* InfoMapper home button. */
.home-button {
  font-size: 22px;
  font-weight: 600;
}

/* All MainMenu buttons. */
.main-menu-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}