<mat-toolbar>

  <div class="toolbar-main-container">
    <div class="toolbar-left-container">

      <div class="side-nav-toggle-container">
        <button mat-icon-button class="side-nav-button" (click)="onToggleSidenav()">
          <fa-icon [icon]="faBars" size="xl"></fa-icon>
        </button>
      </div>
    
      <button mat-button class="home-button" [routerLink]="['/content-page/home']">
        {{title}}
      </button>
    
      <div class="main-menu-option-container">
        <ul class="main-menu-buttons">
    
          <ng-container *ngFor="let mainMenu of appConfig.mainMenu">
            <tab *ngIf="mainMenu | checkElement : 'mainMenuIsVisible'" [mainMenu]="mainMenu"></tab>
          </ng-container>
    
        </ul>
      </div>

    </div>

    <div class="toolbar-right-container">

      <button mat-icon-button class="global-menu-button" [matMenuTriggerFor]="globalMenu"
      attr.data-cy="TODO">
        <fa-icon [icon]="faEllipsis" size="2xl"></fa-icon>
      </button>
      <mat-menu #globalMenu="matMenu">
        <button mat-menu-item (click)="openSearchDialog()" [matTooltip]="searchButtonTooltip"
        matTooltipPosition="right" attr.data-cy="TODO">
          <fa-icon [icon]="faMagnifyingGlass" size="lg"></fa-icon>
          <span class="global-menu-option-text">Search</span>
        </button>
      </mat-menu>

    </div>
  </div>
  
</mat-toolbar>
