<tr>
  <td class="name">

    <div id="layer-title">
      {{layerViewData.name}} 
    </div>

    <div class="description" id="description-{{layerViewData.geoLayerId}}">{{layerViewData.description}}</div>

    <br>

    <div class="symbols" id="symbols-{{layerViewData.geoLayerId}}">
      <ng-template legend-symbol-hook></ng-template>
    </div>
  </td>

  <td class="toggle">
    <label title="Show/hide '{{layerViewData.name}}' layer on the map"  class="switch">

      <input id="{{layerViewData.geoLayerId}}-slider" type="checkbox" (click)="toggleLayer()" checked="checked">
      <span class="slider round"></span>
      </label>
    </td>
</tr>

<hr>