/* CLASSES */

/* Sets a max height for the text in the Dialog, as well as uses Courier font for formatting the text correctly and making the
font smaller so that's it still readable, but the user won't have to scroll a lot to get around the data. */
.text-box {
  height: 94.5%;
}

.text-box-text {
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}