<!-- The draggable <h1> element so a user can move a graph around anywhere on the screen -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <!-- The draggable <h1> element so a user can move a graph around anywhere on the screen, but only using the h1 -->
  <div mat-dialog-title cdkDragHandle class="drag-header">
    <!-- Keep this empty for now. Might add a title later on for regular text files -->
    <div class="drag-header-div">
      <p class="drag-header-title">
        {{fileName}}
      </p>
    </div>
    <!-- The close button on the upper right part of the dialog -->
    <button mat-button (click)="onClose()" class="upper-dialog-close-button">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <!------------------------------------------------------------------------------------------------------------------------------>
  <!-- Show a regular text file if the showText Dialog class variable is true -->
  <div class="text-box">
    <pre class="text-box-text">{{text}}</pre>
  </div>

  <div class="text-buttons">
    <!-- SAVE button -->
    <button mat-raised-button
            (click)="saveText()"
            class="text-save-button"
            matTooltip="Download report as {{fileExtension}} file"
            [matTooltipShowDelay]="250">
      Download
    </button>
    <!-- CLOSE button -->
    <button mat-raised-button (click)="onClose()" class="lower-dialog-close-button">
      Close
    </button>
  </div>

</div>