/* CLASSES */

/* Since the <h1> takes up 5% of the dialog height, the rest of the documentation should take up 95% since this <div>
and the <h1> are sharing the space */
.doc-contents {
  height: calc(100% - 40px);
  margin-bottom: 0px;
}

/* This can be 100% of the height, since it's a child of .doc-box above, and so will be 100% relative to it */
.doc-contents-text {
  height: 100%;
  margin-bottom: 0px;
}

/* Div class that takes up 5.5% of the height of the dialog and is gray to differentiate itself from the dialog content */
.drag-header-main {
  background-color: #e6e6e6;
  height: 40px;
  margin: 0px;
}

.header-div {
  display: inline-block;
  height: 100%;
  width: 80%;
}

.header-title {
  font-size: medium;
  padding-left: 20%;
  text-align: center;
  height: 100%;
  width: 100%;
}

.upper-close-button {
  background-color: #c2c1c1;
  height: 100%;
  width: 80px;
  float: right;
  outline: none;
}

/* ID's */

#docDiv {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow: scroll;
}