/* TAGS */

/* Styling for the border, size, and padding/.margins
around the layer component list items*/
td {
  width: 100%;
  text-align: left;
  padding:5px;
  border-style: none;
}

/* CLASSES */
.dropdown-divider {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
}