/* You can add global styles to this file, and also import other style files */
body{
	color: #5e5b64 !important;
  background-color: #fafafa !important;
  font-family: Trebuchet MS,Helvetica,sans-serif!important;
}

/* The follow offers the ability to change the color above the navigation bar
the background of the navigation bar, and the bottom of the navigation bar. */
.navbar {
    border-top: 5px solid #9DB66B !important;
    background-color: #ffffff !important;
    border-bottom: 5px solid #E9EAEE !important;
}

/* Style for sidebar */
.leaflet-sidebar-tabs > ul 
> li.active {
	background-color: #9DB66B !important;
}
.leaflet-sidebar-header {
	background: #9DB66B !important;
}

/* The following allows changing the "Hide All Layers" button colors*/
.toggleAllButton {
  border-color: #9DB66B !important;
  background-color: #9DB66B !important;
  color: white !important;

}
.toggleAllButton:hover {
  background-color: white !important;
  color: #9DB66B !important;
  border-style: solid !important;
  border-color: #9DB66B !important;
}