/* CLASSES */

/* Button for closing this dialog component. */
.close-dialog-button {
  background-color: #e3e3e3;
}

/* A default divider between elements. */
.divider {
  margin: 15px 0;
  width: 100%;
  flex: 1;
}

/*  */
.empty-search-cell {
  /* display: flex;
  justify-content: center; */
  text-align: center;
}

/*  */
.empty-search-text {
  margin-top: 20px;
}

/*  */
.found-page-link {
  color: #9db66b;
  font-size: 16px;
}

/* The title to displayed for this dialog. */
.global-search-title {
  margin: 0;
  flex: 1;
}

/* Utility container at the bottom of the dialog. */
.global-search-utility-container {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

/* Container for the input field and search button. */
.input-submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
}

/*  */
.main-container {
  height: 100%;
  width: 100%;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  */
.mat-cell {
  height: 52px;
}

/*  */
.mat-table-header {
  font-size: large;
  font-weight: 600;
}

/*  */
.results-found-string {
  margin: 0;
}

/*  */
.search-container {
  /* height: 400px; */
  overflow: auto;

  height: 100%;
  width: 100%;
  flex: 100;
}

/*  */
.search-form {
  width: 350px;
}

/*  */
.search-form-field {
  width: 100%;
}

/*  */
.search-mat-table {
  width: 100%;
}

/*  */
@media (max-width: 550px) {
  
  /*  */
  .search-form {
    width: 100%;
  }
}