/* TAGS */

/*  */
a.dropdown-item:active {
  background-color: #cfcfcf;
}

/*  */
a.dropdown-item-disabled {
  background-color: #b4b3b3;
}

/* CLASSES */

/*  */
.brightness {
  filter: opacity(20%);
}

/* Class for displaying two horizontal dividers in between two subMenu dropdown choices on the InfoMapper. */
.double-separator {
  margin-top: 2px;
  margin-bottom: 2px;
}

/*  */
.dropdown {
  position: relative;
  display: inline-block;
}

/*  */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Set the options for the divider margin, padding, etc. in between each dropdown subMenu. */
.dropdown-divider {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
}

/*  */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 95%;
}

/* The Content Page subMenu file icon. */
.fa-file-text {
  margin-left: 2%;
  margin-right: 3%;
}

/* The Dashboard subMenu tachometer (gauge) icon. */
.fa-gauge-high {
  margin-right: 1%;
}

/* The Content Page subMenu file icon. */
/* .fa-file-text {
  margin-left: 1%;
  margin-right: 2%;
} */

/*  */
.li-disabled {
  pointer-events: none;
  opacity: 0.4;
  user-select: none;
}

/* Additional class to be added to an element when it is active. */
.mat-selected {
  background-color: rgb(219, 219, 219);
}

/*  */
.navbar
a.dropdown-item {
  padding-left:5px;
}

/*  */
.navbar
a.spacer {
  width: 80px;
}

/*  */
.nav-link {
  color: #2b2b2b;
  outline: none;
  height: 100%;
  font-size: 16px;
}

/*  */
.nav-item-not-enabled {
  color: #b4b3b3;
} 
