<!-- MainMenu with SubMenus enabled. -->
<div *ngIf="mainMenu.menus" class="dropdown">
  <li class="nav-item dropdown">
    
    <a mat-button
    [matTooltip]="mainMenu.tooltip"
    matTooltipPosition="right"
    routerLinkActive="mat-selected"
    class="nav-link"
    id="navbarDropdown"
    mainMenu-toggle="dropdown">
      {{mainMenu.name}}
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <div *ngFor="let subMenu of mainMenu.menus;">

        <div *ngIf="subMenu | checkElement : 'subMenuContentPage'">
          <li class="nav-item activate .ml-auto" [ngClass]="{ 'li-disabled': subMenu.enabled === false }">
            <div *ngIf="subMenu.separatorBefore === true" class="dropdown-divider"></div>
            <div *ngIf="subMenu.doubleSeparatorBefore === true">
              <hr class="double-separator">
              <hr class="double-separator">
            </div>
            <a [matTooltip]="subMenu.tooltip"
            matTooltipPosition="right"
            class="dropdown-item"
            [routerLink]="['/content-page/', subMenu.id]"
            routerLinkActive="mat-selected">
              <i class="fa fa-file-text fa-lg" aria-hidden="true"></i>
              {{subMenu.name}}
            </a>
          </li>
        </div>

        <div *ngIf="subMenu | checkElement : 'subMenuDashboard'">
          <li class="nav-item activate .ml-auto" [ngClass]="{ 'li-disabled': subMenu.enabled === false }">
            <div *ngIf="subMenu.separatorBefore === true" class="dropdown-divider"></div>
            <div *ngIf="subMenu.doubleSeparatorBefore === true">
              <hr class="double-separator">
              <hr class="double-separator">
            </div>
            <a [matTooltip]="subMenu.tooltip"
            matTooltipPosition="right"
            class="dropdown-item"
            routerLinkActive="mat-selected"
            [routerLink]="['/dashboard/', subMenu.id]">
              <i class="fa fa-tachometer fa-lg" aria-hidden="true"></i>
              {{subMenu.name}}
            </a>
          </li>
        </div>

        <div *ngIf="subMenu | checkElement : 'subMenuDisplayMap'">
          <li class="nav-item activate .ml-auto" [ngClass]="{ 'li-disabled': subMenu.enabled === false }">
            <div *ngIf="subMenu.separatorBefore === true" class="dropdown-divider"></div>
            <div *ngIf="subMenu.doubleSeparatorBefore === true">
            <hr class="double-separator">
            <hr class="double-separator">
          </div>
            <a [matTooltip]="subMenu.tooltip"
            matTooltipPosition="right"
            class="dropdown-item"
            [routerLink]="['/map/', subMenu.id]"
            routerLinkActive="mat-selected">
              <img src="assets/app-default/img/baseline-map-24px.svg"/>
              {{subMenu.name}}
            </a>
          </li>
        </div>

        <div *ngIf="subMenu | checkElement : 'subMenuExternalLink'">
          <li class="activate .ml-auto" [ngClass]="{ 'li-disabled': subMenu.enabled === false }">
            <div *ngIf="subMenu.separatorBefore === true" class="dropdown-divider"></div>
            <div *ngIf="subMenu.doubleSeparatorBefore === true">
              <hr class="double-separator">
              <hr class="double-separator">
            </div>
            <a [matTooltip]="subMenu.tooltip"
            matTooltipPosition="right"
            class="dropdown-item"
            [href]="subMenu.url"
            target="_blank">
              <img src="assets/app-default/img/baseline-open_in_new-24px.svg"/>
              {{subMenu.name}}
            </a>
          </li>
        </div>

      </div>
    </div>
  </li>
</div>

<!-- MainMenus with no SubMenus. -->
<!-- Content Page MainMenu. -->
<div *ngIf="mainMenu.action === 'contentPage'">
  <li class="nav-item activate .ml-auto" [ngClass]="{ 'li-disabled': mainMenu.enabled === false }">
    <a mat-button
    [matTooltip]="mainMenu.tooltip"
    matTooltipPosition="right"
    class="nav-link"
    routerLinkActive="mat-selected"
    [routerLink]="['/content-page/', mainMenu.id]">
      {{mainMenu.name}}
    </a>
  </li>
</div>

<!-- Dashboard MainMenu. -->
<div *ngIf="mainMenu.action === 'dashboard'">
  <li class="nav-item activate .ml-auto" [ngClass]="{ 'li-disabled': mainMenu.enabled === false }">
    <a mat-button
    [matTooltip]="mainMenu.tooltip"
    matTooltipPosition="right"
    class="nav-link"
    routerLinkActive="mat-selected"
    [routerLink]="['/dashboard/', mainMenu.id]">
      {{mainMenu.name}}
    </a>
  </li>
</div>

<!-- Map MainMenu. -->
<div *ngIf="mainMenu.action === 'displayMap'">
  <li class="nav-item activate .ml-auto" [ngClass]="{ 'li-disabled': mainMenu.enabled === false }">
    <a mat-button
    [matTooltip]="mainMenu.tooltip"
    matTooltipPosition="right"
    class="nav-link"
    routerLinkActive="mat-selected"
    [routerLink]="['/map/', mainMenu.id]">
      {{mainMenu.name}}
    </a>
  </li>
</div>

<!-- External Link MainMenu. -->
<div *ngIf="mainMenu.action === 'externalLink'">
  <li class="nav-item activate .ml-auto" [ngClass]="{ 'li-disabled': mainMenu.enabled === false }">
    <a mat-button
    [matTooltip]="mainMenu.tooltip" matTooltipPosition="right"
    [attr.href]="mainMenu.url" target="_blank"
    class="nav-link">
      {{mainMenu.name}}
    </a>
  </li>
</div>