/* TAGS */


a.dropdown-item-not-enabled {
  background-color: #b4b3b3;
}

/* CLASSES */

.brightness {
  filter: opacity(20%);
}

/* Class for displaying two horizontal dividers in between two subMenu dropdown choices on the InfoMapper. */
.double-separator {
  margin-top: 2px;
  margin-bottom: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Set the options for the divider margin, padding, etc. in between each dropdown subMenu. */
.dropdown-divider {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 95%;
}

/* Styling the Content Page menu icon */
.fa-file-text {
  margin-left: 1%;
  margin-right: 2%;
  /* filter: opacity(20%); */
}

.navbar
a.dropdown-item {
  padding-left:5px;
}

.navbar
a.spacer {
  width: 80px;
}

.nav-item-not-enabled {
  color: #b4b3b3;
} 

/* ID's */
/* Instead of being with the other brightness class, this is for a font awesome class when not enabled */
#brightness {
  filter: opacity(20%);
}