<!-- The draggable <h1> element so a user can move a graph around anywhere on the screen -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" style="height: 100%;">
  <!-- The draggable <h1> element so a user can move a graph around anywhere on the screen, but only using the h1 -->
  <h1 mat-dialog-title cdkDragHandle>
    <!-- Display the geoLayerView name along with data table when showing an attribute table -->
    <div *ngIf="geoLayerViewName" class="table-header-div">
      <p class="table-header">
        {{geoLayerViewName}} - Data Table
      </p>
    </div>
    <!-- Display a geoMap, geoLayerViewGroup, or geoLayerView name along with Information when showing documentation -->
    <div *ngIf="informationName" class="table-header-div">
      <p class="table-header">
        {{informationName}} - Information
      </p>
    </div>
    <!-- Keep this empty for now. Might add a dialog title later on -->
    <div *ngIf="mainTitleString" class="table-header-div">
      <p class="table-header">

      </p>
    </div>
    <!-- The close button on the upper right part of the dialog -->
    <button mat-button (click)="onClose()" class="close-button">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </h1>
<!------------------------------------------------------------------------------------------------------------------------------>
  <!-- Display the graph title when showing a feature graph as a header -->
  <div *ngIf="mainTitleString">
    <h4>
      {{mainTitleString}}
    </h4>
  </div>
<!------------------------------------------------------------------------------------------------------------------------------>
  <!-- The three div elements below will show graphs in the Dialog -->
  <!-- Show plotly.js by default -->
  <div *ngIf="!chartPackage" class="chartPackage">
    <div *ngIf="showGraph" class="showGraph">
      <div [attr.id]="graphTemplateObject.product.subProducts[0].data[0].properties.TSID"></div>
    </div>
  </div>
  <!-- Create and display a Chart.js graph if the showGraph Dialog class variable is true -->
  <div *ngIf="chartPackage" class="chartPackage">
    <div *ngIf="showGraph && chartPackage.toUpperCase() === 'CHARTJS'" class="showGraph">
      <canvas id="myChart" width="850" height="450"></canvas>
    </div>
  </div>
  <!-- Create and display a Plotly graph if the showGraph Dialog class variable is true -->
  <div *ngIf="chartPackage" class="chartPackage">
    <div *ngIf="showGraph && chartPackage.toUpperCase() === 'PLOTLY'" class="showGraph">
      <div [attr.id]="graphTemplateObject.product.subProducts[0].data[0].properties.TSID"></div>
    </div>
  </div>
  <!-- Show a regular text file if the showText Dialog class variable is true -->
  <div *ngIf="showText" class="textBox">
    <pre class="textBoxText">{{text}}</pre>
  </div>
<!------------------------------------------------------------------------------------------------------------------------------>
  <!-- These div elements will display documentation for their given layer -->
  <!-- Show the regular text documentation of a geoLayerViewGroup or geoLayerView -->
  <div *ngIf="showDoc && docText" class="docBox">
    <pre class="docBoxText">{{doc}}</pre>
  </div>
  <!-- Show the markdown converted to HTML using showdown of a geoLayerViewGroup or geoLayerView -->
  <div *ngIf="showDoc && docMarkdown" class="docBox">
    <div id="docDiv">
      <div class="showdown-container">
        <showdown [value]="showdownHTML" [options]="options" class="docBoxText" style="height: 100%;"></showdown>
      </div>
    </div>
  </div>
  <!-- Show the contents of a regular HTML file -->
  <div *ngIf="showDoc && docHTML" class="docBox">
    <div id="docDiv"></div>
  </div>
<!----------------------------------------------------------------------------------------------------------------------------->
  <!-- Show the attribute table for a layer -->
  <div *ngIf="showAttributeTable" class="tableBox">

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter by substring in any column" #input>
    </mat-form-field>

    <cdk-virtual-scroll-viewport tvsItemSize bufferMultiplier="0.7" class="wrapper mat-elevation-z2">

      <table mat-table [dataSource]="attributeTable" class="mat-elevation-z8">
        <!-- All Columns -->
        <ng-container *ngFor="let property of attributeTable.data[0].properties | keyvalue;" matColumnDef="{{property.key}}">
          <th class="mat-table-header" mat-header-cell *matHeaderCellDef><b> {{property.key}} </b></th>
          <td mat-cell
              *matCellDef="let element; let i = index"
              [ngClass]="determineJustification(element.properties[property.key])"
              [attr.id]="'cell-' + element.properties[property.key]">

            {{element.properties[property.key]}}
            <!-- If the property value is a URL, it has already been truncated (as attributeTable is a copy), so below the
            truncated version of the link above, display Link to open up in a new tab -->
            <div *ngIf="isURL(element.properties[property.key])">
                <a [attr.href]="links[element.properties[property.key]]" target="_blank">Link</a>
            </div>
            
          </td>
          <!-- <td mat-footer-cell *matFooterCellDef> </td> -->
        </ng-container>
        <!-- TODO: jpkeahey 2020.09.14 - The above line and below lines add a footer in the attribute table for saving the
        table as a CSV file. This is a WIP -->
        <!-- <ng-container matColumnDef="footer">
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="footerColSpan">
            <button mat-button class="save-csv">Save Table as CSV</button>
          </td>
        </ng-container> -->
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <tr mat-footer-row *matFooterRowDef="['footer']; sticky: true"></tr> -->
  
        <!-- Row shown when there is no matching data. This might only work with Material 10? Does not work on current Material
        version 9.2.4 -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
