/* CLASSES */

/* This is the default name of the highest level cdk <div> in the Dialog Content Component. Is is used for dragging the
dialog around the page by the header, and style used to be there. Now that the class name is known, it was been
migrated to this CSS file */
.cdk-drag {
  height: 100%;
}

/* Div class that takes up 5.5% of the height of the dialog and is gray to differentiate itself from the dialog content */
.drag-header {
  background-color: #e6e6e6;
  height: 5.5%;
  margin: 0px;
}

/* The main <div> in the dialog header that shares the top space with the dialog close button. 90-10 size div-to-button is used,
and inline-block allows them to go side-by-side */
.drag-header-div {
  display: inline-block;
  height: 100%;
  width: 90%;
}

/* The styling for each of the dialog titles. Font size needs to be a little larger than usual, and padded left to take into
account the close button is taking up 10% of the div, so text-align: center will actually be centered. It should take up 100%
of the space within its parent, drag-header-div from above */
.drag-header-title {
  font-size: medium;
  padding-left: 10%;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* The class for the lower-right close button in the dialog. The float: right overrides the display: inline-block and shoves
the button all the way to the right */
.lower-dialog-close-button {
  float: right;
  margin: 0px 20px 0px 20px;
  background-color: #c2c1c1;
}

/* For each component that uses this style file, this will make it so all mat-raised-button's will not have an outline
at any time, whether when the dialog is created or click on by the user */
.mat-raised-button {
  outline: none;
  padding: 0px 8px 0px 8px;
}

/* When a mat-raised-button is clicked, there is a focus on it that slightly deepens the color of the button. This
overrides that so that it always stays the same color */
.mat-raised-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}

/* The class for the upper-right close button in a dialog. The inline-block display makes it so that it will share with
the title header div, rendering them side-by-side */
.upper-dialog-close-button {
  background-color: #c2c1c1;
  height: 100%;
  width: 10%;
  display: inline-block;
  outline: none;
}