/* You can add global styles to this file, and also import other style files */
body{
	overflow-y: hidden;
	color: #5e5b64;
    background-color: #fafafa;
    font-family: Trebuchet MS,Helvetica,sans-serif!important;
}