# The following files should not be committed to the repository.

# Standard folder for application data.
# Application Files may be provided by:
#
# 1) copying files from another repository
# 2) using symbolic link to content in another repository
#
# Additional standard files/folders can be added based on experience.
#
/app
