<div id="map-container">

  <!-- Optionally define the sidebar content via HTML markup -->
  <div id="sidebar" class="leaflet-sidebar collapsed">

    <!-- Nav Tabs -->
    <div class="leaflet-sidebar-tabs">
      <!-- Top Aligned Tabs -->
      <ul role="tablist">
        <!-- Main menu button (Hamburger Icon) -->
        <li>
          <a href="#home"
              role="tab"
              matTooltip="Main tools"
              matTooltipShowDelay="750">
                <i class="fa fa-bars active"></i>
          </a>
        </li>
        <!-- Autopan button (4 directional arrows) -->
        <!-- <li><a matTooltip="Autopan tools" href="#autopan" role="tab"><i class="fa fa-arrows"></i></a></li> -->
        <!---Information Button (i)-->
        <!-- <li><a matTooltip="Help / About" href="#information" role="tab"><i class="fa fa-info-circle"></i></a></li> -->
      </ul>

      <!-- Bottom Aligned Tabs -->
      <!-- The Help / About anchor that opens up the appropriate portion of the side bar. The commented out line below is an
      example of another anchor that could be added -->
      <ul role="tablist">
        <li>
          <a href="#information"
              role="tab"
              matTooltip="Help / About"
              matTooltipShowDelay="750"
              matTooltipPosition="right">
            <i class="fa fa-info-circle"></i>
          </a>
        </li>
        <!-- <li><a matTooltip="External link to project on GitHub" href="https://github.com/nickpeihl/leaflet-sidebar-v2"><i class="fa fa-github"></i></a></li> -->
      </ul>

    </div>

    <!-- Panel content -->
    <div class="leaflet-sidebar-content">
      <div class="leaflet-sidebar-pane" id="home">
        <h1 class="leaflet-sidebar-header">
          <div *ngIf="mapService.getGeoMapName()" class="geoMap-title">{{mapService.getGeoMapName()}}</div>

          <div *ngIf="mapService.getMapConfig()">
            <div *ngIf="mapService.getMapConfig().geoMaps[0].properties.docPath" class="geoMap-doc-button">
              <button class="btn geoMap-info-circle"
                      (click)="openDocDialog(mapService.getMapConfig().geoMaps[0].properties.docPath, mapService.getMapConfig().geoMaps[0].name)"
                      matTooltip="Click to view map documentation"
                      [matTooltipShowDelay]="750">
                <i class="fa fa-info-circle fa-lg"></i>
              </button>
            </div>
          </div>
          
          <span matTooltip="Close sidebar"
                [matTooltipShowDelay]="750"
                class="leaflet-sidebar-close">
                  <i class="fa fa-caret-left"></i>
          </span>
          
        </h1>

        <br>

        <div class="accordion" id="sidebar-accordion">

          <div *ngIf="mapService.getMapConfig()">
            <div *ngFor="let geoLayerViewGroup of mapService.getMapConfig().geoMaps[0].geoLayerViewGroups">

              <div *ngIf="geoLayerViewGroup.properties.isBackground == undefined || geoLayerViewGroup.properties.isBackground == 'false'; else background">
                
                <div class="card">

                  <div *ngIf="geoLayerViewGroup.properties.docPath">
                    <div class="btn-group geoLayerViewGroupMain">

                      <button class="btn geoLayerViewGroupName"
                              data-toggle="collapse"
                              matTooltip="Click to expand/collapse layer controls"
                              matTooltipPosition="above"
                              [matTooltipShowDelay]="750"
                              [attr.aria-controls]='"collapse-" + geoLayerViewGroup.geoLayerViewGroupId'
                              [attr.data-target]='"#collapse-" + geoLayerViewGroup.geoLayerViewGroupId'
                              aria-expanded="true"
                              style="text-align: left; width: 100%;">
                        {{geoLayerViewGroup.name}}
                      </button>

                      <div class="geoLayerViewGroup-doc-button">
                        
                        <button mat-icon-button
                                [matMenuTriggerFor]="geoLayerViewGroupMenu"
                                matTooltip="Click to view layer group menu options"
                                [matTooltipShowDelay]="750"
                                matTooltipPosition="above">
                          <mat-icon class="white-dots">more_vert</mat-icon>
                        </button>
                        <mat-menu #geoLayerViewGroupMenu="matMenu">
                          <button mat-menu-item
                                  class="menu-button"
                                  (click)="openDocDialog(geoLayerViewGroup.properties.docPath, geoLayerViewGroup)"
                                  [disabled]="geoLayerViewGroup.properties.docPath | menuDisable"
                                  matTooltip="Click to view layer group documentation"
                                  [matTooltipShowDelay]="750"
                                  matTooltipPosition="after">
                            <i class="fa fa-info-circle fa-2x info-circle"></i>
                          Information
                          </button>
                        </mat-menu>

                      </div>

                    </div>
                  </div>

                  <div *ngIf="!geoLayerViewGroup.properties.docPath">
                    <div class="geoLayerViewGroupMain">
                      <button class="btn geoLayerViewGroupName"
                              data-toggle="collapse"
                              [attr.aria-controls]='"collapse-" + geoLayerViewGroup.geoLayerViewGroupId'
                              [attr.data-target]='"#collapse-" + geoLayerViewGroup.geoLayerViewGroupId'
                              matTooltip="Click to expand/collapse layer controls"
                              [matTooltipShowDelay]="750"
                              aria-expanded="true"
                              style="text-align: left; width: 80%;">
                        {{geoLayerViewGroup.name}}
                      </button>
  
                    </div>
                  </div>

                  <div [attr.id]='"collapse-" + geoLayerViewGroup.geoLayerViewGroupId' class="collapse show" aria-labelledby="headingOne">

                    <div class="card-body">

                      <!-- Here go through each geoLayerView and just show them. No need for trying to dynamically create
                      each one as a component. Just show each one of them here -->
                      <div *ngFor="let geoLayerView of geoLayerViewGroup.geoLayerViews; let numOfViews = index">

                        <div class="alone">
                          <div id="layer-title-alone">
                            {{geoLayerView.name}}
                          </div>

                          <div class="menu">

                            <button mat-icon-button
                                    [matMenuTriggerFor]="geoLayerMenu"
                                    matTooltip="Click to view layer menu options"
                                    [matTooltipShowDelay]="750">
                              <mat-icon class="green-dots">more_vert</mat-icon>
                            </button>
                            <mat-menu #geoLayerMenu="matMenu">
                              <button mat-menu-item
                                      class="menu-button"
                                      (click)="openDocDialog(geoLayerView.properties.docPath, geoLayerView)"
                                      [disabled]="geoLayerView.properties.docPath | menuDisable">
                                <i class="fa fa-info-circle fa-2x info-circle"></i>
                              Information
                              </button>
                              <!-- TODO: jpkeahey 2020.10.30 - Uncomment out to try disabling the data table button when
                              a layer is toggled off on the Leaflet map -->
                              <!-- [disabled]="geoLayerView.geoLayerId | menuDisable: 'dataTableCheck': 'true'" -->
                              <button mat-menu-item
                                      class="menu-button"
                                      (click)="openDataTableDialog(geoLayerView.geoLayerId, geoLayerView.name)"
                                      [hidden]="allFeatures[geoLayerView.geoLayerId] | menuDisable">
                                <i class="fa fa-table fa-2x"></i>
                                Data Table
                              </button>

                              <button mat-menu-item
                                      class="menu-button"
                                      (click)="openImageGalleryDialogFromKebab(geoLayerView.geoLayerId, geoLayerView)"
                                      [hidden]="geoLayerView.properties.imageGalleryEventActionId | menuDisable">
                                <i class="fa fa-picture-o fa-2x"></i>
                              Image Gallery
                              </button>

                              <button mat-menu-item
                                      class="menu-button"
                                      (click)="openPropertyDialog(geoLayerView.geoLayerId, geoLayerView.name)">
                                <i class="fa fa-list fa-2x"></i>
                                Properties
                              </button>

                              <button mat-menu-item
                                      class="menu-button"
                                      (click)="clearSelections(geoLayerView.geoLayerId)"
                                      matTooltip="Clear highlighted features in the layer"
                                      matTooltipPosition="after"
                                      matTooltipShowDelay="750">
                                <i class="fa fa-dot-circle-o fa-2x"></i>
                                Clear Selection
                              </button>
                            </mat-menu>

                          </div>

                          <div class="switch-alone">
                            <!-- <mat-slide-toggle id="{{geoLayerView.geoLayerId}}-slider"
                                              [(ngModel)]="isChecked"
                                              (change)="toggleLayer_test($event, geoLayerView.geoLayerId)">
                            </mat-slide-toggle> -->

                            <label matTooltip="Show/hide this layer on the map"
                                    matTooltipShowDelay="750">
                              <input id="{{geoLayerView.geoLayerId}}-slider"
                                      type="checkbox"
                                      [attr.checked]="geoLayerView.properties.selectedInitial | menuDisable: 'toggleCheck' : geoLayerView.geoLayerId"
                                      (click)="toggleLayer(geoLayerView.geoLayerId, geoLayerViewGroup.geoLayerViewGroupId)">
                              <span class="slider round"></span>
                            </label>
                          </div>
  
                          <div class="description-alone" id="description-{{geoLayerView.geoLayerId}}">
                            {{geoLayerView.description}}
                          </div>
                        </div>
                                              
                        <br>
                        <!-- Check to see if the geoLayerSymbol is missing to display a default symbol in the legend. -->
                        <div *ngIf="!geoLayerView.geoLayerSymbol; else symbolExists"
                              class="symbols" id="symbols-{{geoLayerView.geoLayerId}}">
                          <svg class="layer-icon" width="18" height="18">
                            <rect width="18" height="18" [ngStyle]="styleObject(geoLayerView, 'sm')"/>
                          </svg>
                        </div>
                        <ng-template #symbolExists>
                        
                          <div class="symbols" id="symbols-{{geoLayerView.geoLayerId}}">

                            <!-- SINGLE SYMBOL -->
                            <div *ngIf="geoLayerView.geoLayerSymbol.classificationType.toUpperCase() === 'SINGLESYMBOL'" class="polygon">
                              <!-- LINE -->
                              <div *ngIf="this.getGeometryType(geoLayerView.geoLayerId).toUpperCase().includes('LINESTRING')">
                                <svg class="layer-icon" height="10" width="25">
                                  <line x1="5" y1="5" x2="25" y2="5" [ngStyle]="styleObject(geoLayerView.geoLayerSymbol, 'ss')" style="stroke-width:2"/>
                                </svg>
                              </div>
                              <!-- USER-PROVIDED DEFAULT MARKER -->
                              <div  *ngIf="geoLayerView.geoLayerSymbol.properties.symbolImage">
                                <img class="layer-icon"
                                      [attr.src]="this.appService.buildPath('symbolImagePath', [geoLayerView.geoLayerSymbol.properties.symbolImage])">
                              </div>
                              <!-- BUILT-IN DEFAULT MARKER -->
                              <div *ngIf="geoLayerView.geoLayerSymbol.properties.builtinSymbolImage">
                                <img  class="layer-icon"
                                      [attr.src]="this.appService.buildPath('builtinSymbolImagePath', [geoLayerView.geoLayerSymbol.properties.builtinSymbolImage])">
                              </div>
                              <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolShape; else defaultLegend">
                                <!-- SQUARE -->
                                <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'SQUARE'">
                                  <svg class="layer-icon" width="18" height="18">
                                    <rect width="18" height="18" [ngStyle]="styleObject(geoLayerView.geoLayerSymbol, 'ss')"/>
                                  </svg>
                                </div>
                                <!-- TRIANGLE & TRIANGLE-UP -->
                                <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'TRIANGLE' ||
                                geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'TRIANGLE-UP'">
                                  <svg class="layer-icon" height="18" width="18">
                                    <polygon points="9,1 1,17 17,17" [ngStyle]="styleObject(geoLayerView.geoLayerSymbol, 'ss')"/>
                                  </svg>
                                </div>
                                <!-- TRIANGLE-DOWN -->
                                <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'TRIANGLE-DOWN'">
                                  <svg class="layer-icon" height="18" width="18">
                                    <polygon points="0,0 18,0, 9,18" [ngStyle]="styleObject(geoLayerView.geoLayerSymbol, 'ss')"/>
                                  </svg>
                                </div>
                                <!-- DIAMOND -->
                                <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'DIAMOND'">
                                  <svg class="layer-icon" height="18" width="18">
                                    <polygon points="0,9 9,18 18,9 9,0" [ngStyle]="styleObject(geoLayerView.geoLayerSymbol, 'ss')"/>
                                  </svg>
                                </div>
                                <!-- CIRCLE -->
                                <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'CIRCLE'">
                                  <svg class="layer-icon" height="20" width="20">
                                    <circle cx="10" cy="10" r="8" [ngStyle]="styleObject(geoLayerView.geoLayerSymbol, 'ss')"/>
                                  </svg>
                                </div>
                                <!-- X -->
                                <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'X'">
                                  <svg class="layer-icon" height="18" width="18">
                                    <line x1="0" y1="0" x2="18" y2="18"
                                          [ngStyle]="styleObject(geoLayerView.geoLayerSymbol, 'ss')"/>
                                    <line x1="18" y1="0" x2="0" y2="18"
                                          [ngStyle]="styleObject(geoLayerView.geoLayerSymbol, 'ss')"/>
                                  </svg>
                                </div>
                              </div>
                              <ng-template #defaultLegend>
                                <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolImage === undefined &&
                                geoLayerView.geoLayerSymbol.properties.builtinSymbolImage === undefined &&
                                !this.getGeometryType(geoLayerView.geoLayerId).toUpperCase().includes('LINESTRING')">
                                  <svg class="layer-icon" width="18" height="18">
                                    <rect width="18" height="18" [ngStyle]="styleObject(geoLayerView.geoLayerSymbol, 'ss')"/>
                                  </svg>
                                </div>
                              </ng-template>
                            </div>

                            <!-- CATEGORIZED -->
                            <div *ngIf="geoLayerView.geoLayerSymbol.classificationType.toUpperCase() ===  'CATEGORIZED'" class="polygon">
                              <div *ngIf="categorizedLayerColors[geoLayerView.geoLayerId]">
                                <div *ngFor="let location of categorizedLayerColors[geoLayerView.geoLayerId]; let i = index">
                                  <div *ngIf="(i % 2) === 0" class="polygon-display-div">
                                    <!-- SQUARE will be default for polygons -->
                                    <svg class="layer-icon" width="18" height="18">
                                      <rect width="18" height="18"
                                            [ngStyle]="styleObject(categorizedLayerColors[geoLayerView.geoLayerId][i + 1], 'c')"/>
                                    </svg>
                                    {{location}}
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- GRADUATED -->
                            <div *ngIf="geoLayerView.geoLayerSymbol.classificationType.toUpperCase() === 'GRADUATED'" class="polygon">
                              <div *ngIf="graduatedLayerColors[geoLayerView.geoLayerId]">
                                <div *ngFor="let graduatedSymbolLine of graduatedLayerColors[geoLayerView.geoLayerId];" class="raster-display-div">
                                  <!-- SQUARE -->
                                  <div *ngIf="!geoLayerView.geoLayerSymbol.properties.symbolShape || geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'SQUARE'">
                                  <svg class='graduated-symbol' width="18" height="18">
                                    <rect width="18" height="18" [ngStyle]="styleObject(graduatedSymbolLine, 'g')" />
                                  </svg>
                                  <div *ngIf="!graduatedSymbolLine.label; else displayLabel" class="grad-label">
                                    {{graduatedSymbolLine | menuDisable: 'IMGradLabel' : geoLayerView.geoLayerId}}
                                    <!-- {{graduatedSymbolLine.valueMin.toUpperCase().includes('INFINITY') ? ' &lt;' : graduatedSymbolLine.valueMax.toUpperCase().includes('INFINITY') ? '' : '> ' + graduatedSymbolLine.valueMin + ' -'}} {{graduatedSymbolLine.valueMax.toUpperCase().includes('INFINITY') ? graduatedSymbolLine.valueMin + ' &lt;' :  graduatedSymbolLine.valueMax}} -->
                                  </div>
                                  <ng-template #displayLabel>
                                    {{graduatedSymbolLine.label}}
                                  </ng-template>
                                  </div>
                                  <!-- TRIANGLE -->
                                  <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolShape && geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'TRIANGLE'">
                                    <svg class='graduated-symbol' height="18" width="18">
                                      <polygon points="9,1 1,17 17,17" [ngStyle]="styleObject(graduatedSymbolLine, 'g')" />
                                    </svg>
                                    <div *ngIf="!graduatedSymbolLine.label; else displayLabel" class="grad-label">
                                      <!-- {{graduatedSymbolLine.valueMin.toUpperCase().includes('INFINITY') ? ' &lt;' : graduatedSymbolLine.valueMax.toUpperCase().includes('INFINITY') ? '' : '> ' + graduatedSymbolLine.valueMin + ' -'}} {{graduatedSymbolLine.valueMax.toUpperCase().includes('INFINITY') ? graduatedSymbolLine.valueMin + ' &lt;' :  graduatedSymbolLine.valueMax}} -->
                                    </div>
                                    <ng-template #displayLabel>
                                      {{graduatedSymbolLine.label}}
                                    </ng-template>
                                  </div>
                                  <!-- CIRCLE -->
                                  <div *ngIf="geoLayerView.geoLayerSymbol.properties.symbolShape && geoLayerView.geoLayerSymbol.properties.symbolShape.toUpperCase() == 'CIRCLE'">
                                    <svg class='graduated-symbol' height="20" width="20">
                                      <circle cx="10" cy="10" r="8" [ngStyle]="styleObject(graduatedSymbolLine, 'g')" />
                                    </svg>
                                    <div *ngIf="!graduatedSymbolLine.label; else displayLabel" class="grad-label">
                                      <!-- {{graduatedSymbolLine.valueMin.toUpperCase().includes('INFINITY') ? ' &lt;' : graduatedSymbolLine.valueMax.toUpperCase().includes('INFINITY') ? '' : '> ' + graduatedSymbolLine.valueMin + ' -'}} {{graduatedSymbolLine.valueMax.toUpperCase().includes('INFINITY') ? graduatedSymbolLine.valueMin + ' &lt;' :  graduatedSymbolLine.valueMax}} -->
                                    </div>
                                    <ng-template #displayLabel>
                                      {{graduatedSymbolLine.label}}
                                    </ng-template>
                                  </div> 
                                </div>
                              </div>
                            </div>

                            <!-- <div>
                              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </div> -->
                            <div *ngIf="isServerUnavailable(geoLayerView.geoLayerId)" class="status">
                              <mat-icon matTooltip="Data service unavailable. Refresh at a later time"
                                        [matTooltipShowDelay]="250">warning</mat-icon>
                            </div>
                            <div *ngIf="isBadPath(geoLayerView.geoLayerId)" class="status">
                              <mat-icon [matTooltip]="'Bad Resource Path: ' + getBadPath(geoLayerView.geoLayerId)"
                                        [matTooltipShowDelay]="250">warning</mat-icon>
                            </div>

                          </div>
                        </ng-template>
                        <!-- Check if the layer is the only one, or the last one. If it isn't draw the divider so there can be
                        something separating two layers -->
                        <div *ngIf="numOfViews !== geoLayerViewGroup.geoLayerViews.length - 1">
                          <hr class="divider">
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <ng-template #background>
                
                <div class="card">
                  <div class="card-header" id="background-layers">
                    <h5 class="mb-0">
                      <button class="btn btn-link"
                              data-target="#collapse-background"
                              data-toggle="collapse"
                              matTooltip="Click to expand/collapse background layer controls"
                              matTooltipShowDelay="750"
                              matTooltipPosition="above"
                              aria-expanded="true"
                              aria-controls="collapseOne"
                              style="text-align: left; width: 100%;">
                        {{geoLayerViewGroup.name}}
                      </button>
                    </h5>
                  </div>

                  <div id="collapse-background" class="collapse show"
                        aria-labelledby="headingOne"
                        data-parent="#background-layers">
                    <div class="card-body">
                      <ng-template background-layer-hook></ng-template>
                    </div>
                  </div>
                </div>

              </ng-template>
              
            </div>
          </div>

        </div>

      </div>

      <!-- The side bar information to be displayed when an anchor tag is clicked -->
      <!-- This used to be for the autopan anchor tag -->
      <!-- <div class="leaflet-sidebar-pane" id="autopan">
        <h1 class="leaflet-sidebar-header">
          autopan
          <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
        <p>
          <code>Leaflet.control.sidebar( autopan: true )</code>
          makes sure that the map center always stays visible.
        </p>
        <p>
          The autopan behavior is responsive as well.
          Try opening and closing the sidebar from this pane!
        </p>
      </div> -->

      <!-- The Help / About side bar  -->
      <div class="leaflet-sidebar-pane" id="information">
        <h1 class="leaflet-sidebar-header">
          Help / About
          <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
        <ng-template side-panel-info-host></ng-template>
      </div>

    </div>
  </div>

  <!-- Create the Leaflet map here -->
  <div id="mapID"></div>

</div>
