/* TAGS */

/* Displays the graph title right below the draggable div above and creates padding so the title and graph aren't too close */
h4 {
  text-align: center;
  padding-top: 10px;
}

/* CLASSES */

.bad-file {
  height: 565px;
  width: 900px;
}

.header-div {
  display: inline-block;
  height: 100%;
  width: 80%;
}

.header-title {
  font-size: medium;
  padding-left: 20%;
  text-align: center;
  height: 100%;
  width: 100%;
}

.loading {
  position: relative;
  height: 565px;
  width: 900px;
}

.progress-spinner {
  position: absolute;
  top: 182px;
  left: 400px;
}

.showGraph {
  padding: 0px 10px 0px 0px;
}

.TS-table-components-group {
  float: right;
}

.TS-table-components-group button {
  margin: 0px 20px 0px 0px;
  background-color: #c2c1c1;
}

.upper-close-button {
  background-color: #c2c1c1;
  height: 100%;
  width: 10%;
  float: right;
  outline: none;
}