/* TAGS */

/* Displays the graph title right below the draggable div above and creates padding so the title and graph aren't too close */
h4 {
  text-align: center;
  padding-top: 10px;
}

/* CLASSES */

.TS-table-button {
  margin: 0px 20px 0px 20px;
  background-color: #c2c1c1;
}