<!-- The draggable <h1> element so a user can move a graph around anywhere on the screen -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <!-- The draggable <h1> element so a user can move a graph around anywhere on the screen, but only using the h1 -->
  <div mat-dialog-title cdkDragHandle class="drag-header">
    <!-- Keep this empty for now. Might add a title later on for time series graphs -->
    <div class="drag-header-div">
      <p class="drag-header-title">
        Time Series - Graph
      </p>
    </div>
    <!-- The close button on the upper right part of the dialog -->
    <button mat-button (click)="onClose()" class="dialog-close-button">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>

  <!-- Display the graph title when showing a feature graph as a header -->
  <div >
    <h4>
      {{mainTitleString}}
    </h4>
  </div>

  <!-- The three div elements below will show graphs in the Dialog -->
  <!-- Show plotly.js by default -->
  <div *ngIf="!chartPackage" class="chartPackage">
    <div class="showGraph">
      <div [attr.id]="windowManager.windows[this.TSID_Location].title"></div>

      <div class="TS-table-components">
        <button mat-raised-button (click)="openTSTableDialog()" class="TS-table-button">
          View Data Table
        </button>
      </div>

    </div>
  </div>
  <!-- Create and display a Chart.js graph if the showGraph Dialog class variable is true -->
  <div *ngIf="chartPackage" class="chartPackage">
    <div *ngIf="chartPackage.toUpperCase() === 'CHARTJS'" class="showGraph">
      <canvas id="myChart" width="850" height="450"></canvas>
    </div>
  </div>
  <!-- Create and display a Plotly graph if the showGraph Dialog class variable is true -->
  <div *ngIf="chartPackage" class="chartPackage">
    <div *ngIf="chartPackage.toUpperCase() === 'PLOTLY'" class="showGraph">
      <div [attr.id]="windowManager.windows[this.TSID_Location].title"></div>
    </div>
  </div>

</div>
