<!-- The draggable <h1> element so a user can move a graph around anywhere on the screen -->
<div cdkDrag
      cdkDragRootElement=".cdk-overlay-pane"
      style="height: 100%;">
  <!-- The draggable <h1> element so a user can move a graph around anywhere on the screen, but only using the h1 -->
  <h1 mat-dialog-title
      cdkDragHandle>

    <button mat-button (click)="onClose()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </h1>

  <div *ngIf="mainTitleString">
    <h4>
      {{mainTitleString}}
    </h4>
  </div>
  
  <!-- The three div elements below will show graphs in the Dialog -->
  <!-- Show plotly.js by default -->
  <div *ngIf="!chartPackage" class="chartPackage">
    <div *ngIf="showGraph" class="showGraph">
      <div id="plotlyDiv"></div>
    </div>
  </div>
  <!-- Create and display a Chart.js graph if the showGraph Dialog class variable is true -->
  <div *ngIf="chartPackage" class="chartPackage">
    <div *ngIf="showGraph && chartPackage.toUpperCase() === 'CHARTJS'" class="showGraph">
      <canvas id="myChart" width="850" height="450"></canvas>
    </div>
  </div>
  <!-- Create and display a Plotly graph if the showGraph Dialog class variable is true -->
  <div *ngIf="chartPackage" class="chartPackage">
    <div *ngIf="showGraph && chartPackage.toUpperCase() === 'PLOTLY'" class="showGraph">
      <div id="plotlyDiv"></div>
    </div>
  </div>
  <!-- Show a regular text file if the showText Dialog class variable is true -->
  <div *ngIf="showText" class="textBox">
    <pre class="textBoxText">{{text}}</pre>
  </div>

  <!-- These div elements will display documentation for their given layer -->
  <!-- Show the regular text documentation of a geoLayerViewGroup or geoLayerView -->
  <div *ngIf="showDoc && docText" class="docBox">
    <pre class="docBoxText">{{doc}}</pre>
  </div>
  <!-- Show the markdown converted to HTML using showdown of a geoLayerViewGroup or geoLayerView -->
  <div *ngIf="showDoc && docMarkdown" class="docBox">
    <div id="docDiv">
      <showdown [value]="doc" [options]="options" class="docBoxText" style="height: 100%;"></showdown>
    </div>
  </div>
  <!-- Show the contents of a regular HTML file -->
  <div *ngIf="showDoc && docHTML" class="docBox">
    <div id="docDiv"></div>
  </div>

</div>
