<tr>
    <td class="name">

      <div id="layer-title">
        {{layerData.displayName}} 
      </div>

      <div class="description" id="description-{{layerData.geolayerId}}">{{layerData.description}}</div>

      <br>

      <div class="symbols" id="symbols-{{layerData.geolayerId}}">
        <ng-template legend-symbol-hook></ng-template>
      </div>

    </td>
    <td class="toggle">
      <label title="Show/hide '{{layerData.displayName}}' layer on the map"  class="switch">

        <input id="{{layerData.geolayerId}}-slider" type="checkbox" (click)="toggleLayer()" checked="checked">
        <span class="slider round"></span>
      </label>
    </td>
  </tr>

  <hr>