@import 'assets/css/showdown-default.css';

@import "../node_modules/select2/dist/css/select2.min.css";
@import "./app/map-components/dialog-content/dialog-gapminder/css/style.css";

/* TAGS */

/* You can add global styles to this file, and also import other style files */
body {
	overflow-y: hidden;
  color: black;
  /* The !important tag is overriding whatever is setting the InfoMapper's Content Page Components and Map Components
  background colors to black */
  background-color: #fafafa !important;
  font-family: Trebuchet MS,Helvetica,sans-serif!important;
}

html, body {
  height: 100%;
}

/* CLASSES */

/* This is for a Dialog Content Component. It is CSS that overrides the default behavior for the mat-dialog-container
created and shown as the background for the Dialog popup. Whereas the class call below changes both this div and its
child, this will change only the sizing on the outer div. VERY IMPORTANT for resizing all dialogs. */
.custom-dialog-container {
  overflow: auto;
  resize: both; 
}

/* Sets the padding and height of both the .custom-dialog-container outer div and its child .mat-dialog-container. */
.custom-dialog-container .mat-dialog-container {
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  height: 100%;
}

/* Similar to .custom-dialog-container, but does not have the option for resizing, so the resizing lines in the bottom-left
hand corner of the Dialog do not appear to the user. */
.custom-dialog-container-no-resize .mat-dialog-container {
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  height: 100%;
}

/* Might not be needed */
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}