@import 'assets/css/showdown-default.css';

/* TAGS */

/* You can add global styles to this file, and also import other style files */
body {
	overflow-y: hidden;
  /* color: #5e5b64; */
  color: black;
  background-color: #fafafa;
  font-family: Trebuchet MS,Helvetica,sans-serif!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* CLASSES */

/* This is for the Dialog Content Component. It is CSS that overrides the default behavior for the mat-dialog-container 
created and shown as the background for the Dialog popup. Here, the padding, color, and any other changes can be made.
VERY IMPORTANT for resizing all dialogs */
.custom-dialog-container {
  overflow: auto;
  resize: both; 
}

.custom-dialog-container .mat-dialog-container{
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  height: 100%;
}

/* Might not be needed */
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}