/* TAGS */

a.nav-link {
    padding: 0px !important;
}

nav {
	z-index:999;
}

/* CLASSES */

.navbar a {
    font-weight:bold;
    padding-bottom:0px;
}

.navbar a:hover {
    color: black;
}

.navbar {
    border-top: 5px solid #9DB66B;
    border-bottom: 5px solid #E9EAEE;
    background-color: #ffffff;
}

.navbar-brand {
    padding: 8px !important;
    padding-bottom: 10px !important;
}

.right-item {
    padding: 8px !important;
}

/* ID's */

#about-the-project{
    padding-top:5px !important;
}