<div id="map-error">
    <div class="text-center">
        &nbsp; &nbsp;
        <h4>There was an error loading the configuration file for this map.</h4>
        <p>(This error can also be caused due to an incorrect or misspelled URL)</p>
    </div>
    <div class="content">
        <p>If a link has moved, you can also try accessing the <a href="/">Poudre Basin Information website</a> and navigating to the specific page.</p>
        <p>If you think there is a problem, please report to <a href="mailto:info@openwaterfoundation.org">info@openwaterfoundation.org</a>.</p>
    </div>
</div>