<mat-nav-list class="main-container">

  <a mat-list-item [routerLink]="['/home']" (click)="onSidenavClose()">Home</a>
  <mat-divider></mat-divider>

  <div *ngFor="let mainMenu of appConfig.mainMenu">
    <div *ngIf="mainMenu | checkElement : 'mainMenuIsVisible'">
      
      <div *ngIf="mainMenu.menus">
        <a mat-list-item [matMenuTriggerFor]="menu" [disabled]="mainMenu | checkElement : 'menuDisabled'"
        [ngClass]="{ 'menu-disabled': mainMenu.enabled === false }" tabindex="-1">

        <div class="main-menu-content-container">
          <span>{{mainMenu.name}}</span>

          <fa-icon [icon]=faChevronDown size="lg" style="margin-left: 5px;"></fa-icon>
        </div>
          
        </a>
        <mat-menu #menu="matMenu">

          <div *ngFor="let subMenu of mainMenu.menus;">

            <div *ngIf="subMenu.doubleSeparatorBefore === true">
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
            </div>

            <div *ngIf="subMenu | checkElement : 'subMenuContentPage'">
              <button mat-menu-item [routerLink]="['/content-page/', subMenu.id]"
              (click)="onSidenavClose()" class="subMenu-option"
              [disabled]="subMenu | checkElement : 'menuDisabled'">
                <fa-icon class="fa-file-text" [icon]=faFileLines size="xl"
                [ngClass]="{ 'menu-disabled': subMenu | checkElement : 'menuDisabled' }">
                </fa-icon>
                {{subMenu.name}}
              </button>
            </div>

            <div *ngIf="subMenu | checkElement : 'subMenuDashboard'">
              <button mat-menu-item [routerLink]="['/dashboard/', subMenu.id]" class="subMenu-option"
              (click)="onSidenavClose()" [disabled]="subMenu | checkElement : 'menuDisabled'">
                <fa-icon class="fa-gauge-high" [icon]=faGaugeHigh size="xl"
                [ngClass]="{ 'menu-disabled': subMenu | checkElement : 'menuDisabled' }"></fa-icon>
                {{subMenu.name}}
              </button>
            </div>

            <div *ngIf="subMenu | checkElement : 'subMenuDisplayMap'">
              <button mat-menu-item [routerLink]="['/map/', subMenu.id]" class="subMenu-option"
              (click)="onSidenavClose()" [disabled]="subMenu | checkElement : 'menuDisabled'">
                <img [ngClass]="{ 'menu-disabled': subMenu | checkElement : 'menuDisabled' }"
                src="assets/app-default/img/baseline-map-24px.svg"/>
                {{subMenu.name}}
              </button>
            </div>

            <div *ngIf="subMenu | checkElement : 'subMenuStory'">
              <button mat-menu-item [routerLink]="['/story/', subMenu.id]"
              [disabled]="subMenu | checkElement : 'menuDisabled'" class="subMenu-option"
              (click)="onSidenavClose()">
                <fa-icon class="fa-book-open" [icon]=faBookOpen size="xl"></fa-icon>
                {{subMenu.name}}
            </button>
            </div>

            <div *ngIf="subMenu | checkElement : 'subMenuExternalLink'">
              <a mat-menu-item [attr.href]="subMenu.url" target="_blank" class="subMenu-option"
              (click)="onSidenavClose()" [disabled]="subMenu | checkElement : 'menuDisabled'">
                <img [ngClass]="{ 'menu-disabled': subMenu | checkElement : 'menuDisabled' }"
                src="assets/app-default/img/baseline-open_in_new-24px.svg"/>
                {{subMenu.name}}
              </a>
            </div>

            <mat-divider></mat-divider>
  
          </div>

        </mat-menu>
        
      </div>

      <div *ngIf="mainMenu.action === 'contentPage'">
        <a mat-list-item [disabled]="mainMenu | checkElement : 'menuDisabled'"
        [routerLink]="['/content-page/', mainMenu.id]" (click)="onSidenavClose()"
        [ngClass]="{ 'menu-disabled': mainMenu | checkElement : 'menuDisabled' }"
        tabindex="-1">
          {{mainMenu.name}}
        </a>
      </div>

      <div *ngIf="mainMenu.action === 'dashboard'">
        <a mat-list-item [disabled]="mainMenu | checkElement : 'menuDisabled'"
        [routerLink]="['/dashboard/', mainMenu.id]" (click)="onSidenavClose()"
        [ngClass]="{ 'menu-disabled': mainMenu | checkElement : 'menuDisabled' }"
        tabindex="-1">
          {{mainMenu.name}}
        </a>
      </div>

      <div *ngIf="mainMenu.action === 'displayMap'">
        <a mat-list-item [disabled]="mainMenu | checkElement : 'menuDisabled'"
        [routerLink]="['/map/', mainMenu.id]" (click)="onSidenavClose()"
        [ngClass]="{ 'menu-disabled': mainMenu | checkElement : 'menuDisabled' }"
        tabindex="-1">
          {{mainMenu.name}}
        </a>
      </div>

      <div *ngIf="mainMenu.action === 'story'">
        <a mat-list-item [disabled]="mainMenu | checkElement : 'menuDisabled'"
        [routerLink]="['/story/', mainMenu.id]" (click)="onSidenavClose()"
        [ngClass]="{ 'menu-disabled': mainMenu | checkElement : 'menuDisabled' }"
        tabindex="-1">
          {{mainMenu.name}}
        </a>
      </div>

      <div *ngIf="mainMenu.action === 'externalLink'">
        <a mat-list-item [disabled]="mainMenu | checkElement : 'menuDisabled'"
        [attr.href]="mainMenu.url" target="_blank" (click)="onSidenavClose()"
        [ngClass]="{ 'menu-disabled': mainMenu | checkElement : 'menuDisabled' }"
        tabindex="-1">
          {{mainMenu.name}}
        </a>
      </div>

      <mat-divider></mat-divider>

    </div>
  </div>

  <a mat-list-item (click)="onSidenavClose()">Close</a>

</mat-nav-list>