/* CLASSES */

/* The Story page subMenu file icon. */
.fa-book-open {
  margin-right: 2%;
}

/* The Content Page subMenu file icon. */
.fa-file-text {
  margin-left: 2%;
  margin-right: 3%;
}

/* The Dashboard subMenu tachometer icon. */
.fa-gauge-high {
  margin-right: 1%;
}

/* Styles a menu's fa-icon and mat-list-item "a" tag to be more transparent when
it's disabled. */
.menu-disabled {
  pointer-events: none;
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
}

/* Ensure the mobile subMenu buttons are at least 200 pixels so more of the text
on it is readable. */
.subMenu-option {
  min-width: 200px !important;
}